<!--
'base_' here refers to the fork base, the platform where the tines are attached.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="fork"
               params="name
                       prefix
                       parent_frame
                       use_inertia
                       tine_mass
                       tine_size
                       base_mass
                       base_size
                       tine_separation
                       lower_limit
                       upper_limit
                       brake_distance
                       velocity_limit
                       velocity_limit_full_effort
                       acceleration
                       max_load
                       effort_tolerance:=0.1
                       dynamics_damping:=50
                       tine_mesh_visual:=''
                       tine_mesh_visual_has_color:=False
                       tine_mesh_collision:=''
                       tine_scale:=''
                       color:='1 1 1 1'
                       joint_parent_fr_root_fr">

    <xacro:include filename="$(find eut_robotics_description)/urdf/common/all_commons.xacro"/>

    <xacro:property name="tine_sz_lst" value="${tine_size.split()}"/>
    <xacro:property name="tine_size_x" value="${tine_sz_lst[0]}"/>
    <xacro:property name="tine_size_y" value="${tine_sz_lst[1]}"/>
    <xacro:property name="tine_size_z" value="${tine_sz_lst[2]}"/>

    <xacro:property name="base_sz_lst" value="${base_size.split()}"/>
    <xacro:property name="base_size_x" value="${base_sz_lst[0]}"/>
    <xacro:property name="base_size_y" value="${base_sz_lst[1]}"/>
    <xacro:property name="base_size_z" value="${base_sz_lst[2]}"/>

    <!--
    Create tines and fork base.
    -->

    <!--
    Definition of the links:
    - ${prefix}${name}_left_tine_link
    - ${prefix}${name}_right_tine_link
    - ${prefix}${name}_root_link

    The link for each tine is located at the center of the top face.
    The link for the base is located in the front face, in the middle of the y-axis, at a height of 'tine_size_z'
    over the bottom face.
    This way the links of the tines and the fork base are at the same height.
    -->

    <xacro:link_r
      name="${name}_left_tine"
      prefix="${prefix}"
      use_visual="True"
      use_collision="True"
      use_inertia="${use_inertia}"
      mass="${tine_mass}"
      size="${tine_size}"
      mesh_visual="${tine_mesh_visual}"
      mesh_visual_has_color="${tine_mesh_visual_has_color}"
      mesh_collision="${tine_mesh_collision}"
      scale="${tine_scale}"
      color="${color}"
      vci_pose="0 0 ${-tine_size_z * 0.5} 0 0 0"/>

    <xacro:link_r
      name="${name}_right_tine"
      prefix="${prefix}"
      use_visual="True"
      use_collision="True"
      use_inertia="${use_inertia}"
      mass="${tine_mass}"
      size="${tine_size}"
      mesh_visual="${tine_mesh_visual}"
      mesh_visual_has_color="${tine_mesh_visual_has_color}"
      mesh_collision="${tine_mesh_collision}"
      scale="${tine_scale}"
      color="${color}"
      vci_pose="0 0 ${-tine_size_z * 0.5} 0 0 0"/>

    <!--
    The ${prefix}${name}_root_link is located in the fork base, at the front face, in the middle of the y-axis, at a
    height of 'tine_size_z' over the bottom face.
    This way the links of the tines and the fork base are at the same height.
    -->
    <xacro:link_r
      name="${name}_root"
      prefix="${prefix}"
      use_visual="True"
      use_collision="True"
      use_inertia="${use_inertia}"
      mass="${base_mass}"
      size="${base_size}"
      mesh_visual=""
      mesh_visual_has_color="False"
      mesh_collision=""
      scale=""
      color="${color}"
      vci_pose="${-base_size_x * 0.5} 0 ${(base_size_z * 0.5) - tine_size_z} 0 0 0"/>

    <!--
    Links are separated from their inner edges by a distance of 'tine_separation' in the y-axis.

    Definitions of the joints:
    - ${prefix}${name}_left_tine_joint  (fixed)
    - ${prefix}${name}_right_tine_joint (fixed)
    - ${prefix}${name}_root_joint  (prismatic)
    -->

    <joint name="${prefix}${name}_left_tine_joint" type="fixed">
      <parent link="${prefix}${name}_root_link"/>
      <child link="${prefix}${name}_left_tine_link"/>
      <origin rpy="0 0 0"
              xyz="${(tine_size_x * 0.5) - base_size_x} ${(tine_separation * 0.5) + (tine_size_y * 0.5)} 0"/>
    </joint>

    <joint name="${prefix}${name}_right_tine_joint" type="fixed">
      <parent link="${prefix}${name}_root_link"/>
      <child link="${prefix}${name}_right_tine_link"/>
      <origin rpy="0 0 0"
              xyz="${(tine_size_x * 0.5) - base_size_x} ${-(tine_separation * 0.5) - (tine_size_y * 0.5)} 0"/>
    </joint>

    <xacro:property name="soft_lower_limit" value="${lower_limit + brake_distance}"/>
    <xacro:property name="soft_upper_limit" value="${upper_limit - brake_distance}"/>

    <!--
    The effort limit is computed for a mass (m) of '${max_load}' Kg (to lift) + two tines plus + fork base.
    The total required force includes:
      - The gravitational force, f_gravity = m * g = m * 9.81 m/s^2 N.
      - An additional smooth acceleration to ensure responsive upward motion.
      - And a x% safety margin to account for friction, inertia, and transient loads.
    The resulting formula is, f_total = m * (g + a) * (1 + x/100).
    -->
    <xacro:property name="max_mass_to_lift"  value="${max_load + (2 * tine_mass) + base_mass}"/>
    <xacro:property name="effort_limit"
                    value="${round(max_mass_to_lift * (9.81 + acceleration) * (1 + effort_tolerance))}"/>

    <!--
      k_position:
      Constant that limits the joint velocity based on proximity to the hard limits.
      'brake_distance' defines the braking distance from each hard limit, the point at which the joint starts to
      reduce speed as it approaches the limit.

      - If the joint is farther than 'brake_distance' meters from a hard limit:
        v_pos_limit = velocity_limit  (no position-based reduction applied)
      - If the joint is within 'brake_distance' meters of a hard limit:
        v_pos_limit = k_position * distance_to_limit
        where: k_position = velocity_limit / brake_distance

      k_velocity:
      Constant that limits the joint velocity based on measured effort, regardless of position.
      Effort-based limit is always calculated:
      v_effort_limit = effort_measured / k_velocity

      Design criterion used here:
      We want the joint speed to be capped at 'velocity_limit_full_effort' when the measured effort reaches
      'effort_limit'.
      Therefore:
      k_velocity = effort_limit / velocity_limit_full_effort

      Final allowed velocity:
      - Outside braking zone:
        v_final = min(velocity_limit, v_effort_limit)
      - Inside braking zone:
        v_final = min(velocity_limit, v_pos_limit, v_effort_limit)
    -->
    <xacro:property name="k_position" value="${velocity_limit/brake_distance}"/>
    <xacro:property name="k_velocity" value="${effort_limit/velocity_limit_full_effort}"/>

    <xacro:property name="j_root" value="${joint_parent_fr_root_fr.split()}"/>

    <joint name="${prefix}${name}_root_joint" type="prismatic">
      <parent link="${parent_frame}"/>
      <child link="${prefix}${name}_root_link"/>
      <origin rpy="${j_root[3]} ${j_root[4]} ${j_root[5]}" xyz="${j_root[0]} ${j_root[1]} ${j_root[2]}"/>
      <axis xyz="0 0 1"/>
      <limit lower="${lower_limit}"
             upper="${upper_limit}"
             effort="${effort_limit}"
             velocity="${velocity_limit}"/>
      <safety_controller soft_lower_limit="${soft_lower_limit}"
                         soft_upper_limit="${soft_upper_limit}"
                         k_position="${k_position}"
                         k_velocity="${k_velocity}"/>
      <dynamics damping="${dynamics_damping}"/>
    </joint>
  </xacro:macro>
</robot>
