<?xml version="1.0"?>
<robot name="set_fork_props" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="set_fork_props" params="desc_cfg prop_prefix">

    <xacro:property name="tine_cfg" value="${desc_cfg['tine']}"/>
    <xacro:property name="base_cfg" value="${desc_cfg['base']}"/>

    <xacro:property name="${prop_prefix}_tine_mass"   value="${tine_cfg['mass']}"      scope="parent"/>
    <xacro:property name="${prop_prefix}_tine_size_x" value="${tine_cfg['size']['x']}" scope="parent"/>
    <xacro:property name="${prop_prefix}_tine_size_y" value="${tine_cfg['size']['y']}" scope="parent"/>
    <xacro:property name="${prop_prefix}_tine_size_z" value="${tine_cfg['size']['z']}" scope="parent"/>
    <xacro:property name="${prop_prefix}_tine_size"
                    value="${tine_cfg['size']['x']} ${tine_cfg['size']['y']} ${tine_cfg['size']['z']}"
                    scope="parent"/>

    <xacro:property name="_tine_mesh_visual"    value="${tine_cfg.get('mesh_visual', '')}"/>
    <xacro:property name="_tine_mesh_collision" value="${tine_cfg.get('mesh_collision', '')}"/>

    <xacro:if value="${_tine_mesh_visual is not None and _tine_mesh_visual != ''}">
      <xacro:property name="${prop_prefix}_tine_mesh_visual"
                      value="${_tine_mesh_visual}"
                      scope="parent"/>
    </xacro:if>

    <xacro:if value="${_tine_mesh_visual is None or _tine_mesh_visual == ''}">
      <xacro:property name="${prop_prefix}_mesh_visual"
                      value=""
                      scope="parent"/>
    </xacro:if>

    <xacro:property name="${prop_prefix}_tine_mesh_visual_has_color"
                    value="${tine_cfg['mesh_visual_has_color']}"
                    scope="parent"/>

    <xacro:property name="_fork_color" value="${desc_cfg.get('color', dict(r = 0, g = 0, b = 0, a = 1))}"/>

    <xacro:property name="${prop_prefix}_color"
                    value="${_fork_color['r']} ${_fork_color['g']} ${_fork_color['b']} ${_fork_color['a']}"
                    scope="parent"/>

    <xacro:if value="${_tine_mesh_collision is not None and _tine_mesh_collision != ''}">
      <xacro:property name="${prop_prefix}_mesh_collision"
                      value="${_tine_mesh_collision}"
                      scope="parent"/>
    </xacro:if>

    <xacro:unless value="${_tine_mesh_collision is None or _tine_mesh_collision == ''}">
      <xacro:property name="${prop_prefix}_mesh_collision"
                      value=""
                      scope="parent"/>
    </xacro:unless>

    <xacro:property name="_tine_scale" value="${tine_cfg['scale']}"/>

    <xacro:property name="${prop_prefix}_tine_scale"
                    value="${_tine_scale['x']} ${_tine_scale['y']} ${_tine_scale['z']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_base_mass"
                    value="${base_cfg['mass']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_base_size_x"
                    value="${base_cfg['size']['x']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_base_size_y"
                    value="${base_cfg['size']['y']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_base_size_z"
                    value="${base_cfg['size']['z']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_base_size"
                    value="${base_cfg['size']['x']} ${base_cfg['size']['y']} ${base_cfg['size']['z']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_use_inertia"
                    value="${desc_cfg['use_inertia']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_tine_separation"
                    value="${desc_cfg['tine_separation']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_lower_limit"
                    value="${desc_cfg['lower_limit']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_upper_limit"
                    value="${desc_cfg['upper_limit']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_brake_distance"
                    value="${desc_cfg['brake_distance']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_velocity_limit"
                    value="${desc_cfg['velocity_limit']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_velocity_limit_full_effort"
                    value="${desc_cfg['velocity_limit_full_effort']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_acceleration"
                    value="${desc_cfg['acceleration']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_max_load"
                    value="${desc_cfg['max_load']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_effort_tolerance"
                   value="${desc_cfg['effort_tolerance']}"
                   scope="parent"/>

    <xacro:property name="${prop_prefix}_dynamics_damping"
                   value="${desc_cfg['dynamics_damping']}"
                   scope="parent"/>

    <xacro:property name="${prop_prefix}_clearance_under_fork"
                    value="${desc_cfg['clearance_under_fork']}"
                    scope="parent"/>
  </xacro:macro>
</robot>
