<?xml version="1.0"?>
<robot name="all_imus" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:include filename="$(find eut_robotics_description)/urdf/sensors/imus/generic_macros/set_props_plugin_imu_macro.xacro"/>
  <xacro:include filename="$(find eut_robotics_description)/urdf/sensors/imus/um7_macro.xacro"/>
</robot>
