<?xml version="1.0"?>
<!--
The imu macro defines an inertial measurement unit (IMU) model, including its visual and collision geometry, mass and
inertia, joint connections, and an optional Gazebo sensor plugin for simulation.

This macro defines the following links and joints:
  - Links:
    - ${prefix}${name}_root_link, used to attach the IMU to a parent frame.
    - ${prefix}${name}_link, where data is gathered from the IMU.
  - Joints:
    - ${prefix}${name}_root_joint, a fixed joint connecting the IMU root link to a parent frame.
    - ${prefix}${name}_joint, a fixed joint connecting the IMU root link to the data link.

The physical properties of the IMU are defined by 'mass' and 'size=size_x size_y size_z'.
Optionally, a mesh can be provided using the 'mesh' parameter. This mesh is used for the visual element and, optionally,
for the collision element if 'use_mesh_for_collision' is set to True.

THE MESH IS EXPECTED TO BE CENTERED AT ITS INNER FRAME. IF NO MESH IS PROVIDED, THE VISUAL AND COLLISION GEOMETRIES ARE
MODELED AS A BOX WITH THE GIVEN DIMENSIONS.

THE USER IS RESPONSIBLE FOR PASSING THE VALUES OF THE 'MASS' AND 'SIZE' PARAMETERS THAT REPRESENT THE REAL PHYSICAL
PROPERTIES OF THE IMU. THIS IS, THE 'SCALE' PARAMETER IS NOT USED TO SCALE EITHER THE MASS OR THE SIZE OF THE IMU, THEY
ARE ONLY USED TO SCALE THE MESH, IF A MESH IS PROVIDED.

If 'use_gz_plugin' is set to True, a Gazebo plugin is added to simulate IMU sensor data. This plugin models angular
velocity, linear acceleration, and orientation, publishing to the topic specified by 'topic'.

The plugin supports advanced noise modeling for each IMU signal component, independently along each axis.
gaussian_noise_ang_vel = mean_ang_vel_x stddev_ang_vel_x,
                         mean_ang_vel_y stddev_ang_vel_y,
                         mean_ang_vel_z stddev_ang_vel_z

gaussian_noise_lin_acc = mean_lin_acc_x stddev_lin_acc_x,
                         mean_lin_acc_y stddev_lin_acc_y,
                         mean_lin_acc_z stddev_lin_acc_z

gaussian_noise_bias_ang_vel = mean_bias_ang_vel_x stddev_bias_ang_vel_x,
                              mean_bias_ang_vel_y stddev_bias_ang_vel_y,
                              mean_bias_ang_vel_z stddev_bias_ang_vel_z

gaussian_noise_bias_lin_acc = mean_bias_lin_acc_x stddev_bias_lin_acc_x,
                              mean_bias_lin_acc_y stddev_bias_lin_acc_y,
                              mean_bias_lin_acc_z stddev_bias_lin_acc_z

gaussian_noise_dynamic_bias_ang_vel = stddev_dynamic_bias_ang_vel_x correlation_time_dynamic_bias_ang_vel_x,
                                      stddev_dynamic_bias_ang_vel_y correlation_time_dynamic_bias_ang_vel_y,
                                      stddev_dynamic_bias_ang_vel_z correlation_time_dynamic_bias_ang_vel_z

gaussian_noise_dynamic_bias_lin_acc = stddev_dynamic_bias_lin_acc_x correlation_time_dynamic_bias_lin_acc_x,
                                      stddev_dynamic_bias_lin_acc_y correlation_time_dynamic_bias_lin_acc_y,
                                      stddev_dynamic_bias_lin_acc_z correlation_time_dynamic_bias_lin_acc_z

The IMU provides the orientation in the 'ENU' (East-North-Up) frame, according to REP-103 and REP-145.

name has 1 value.
mass has 1 value.
size has 3 values between quotes in this order 'size_x size_y size_z'
sim_update_rate has 1 value.
vci_pose has 6 values between quotes in this order 'x y z R P Y'
joint_root_fr_data_fr has 6 values between quotes in this order 'x y z R P Y'
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="imu"
               params="name
                       prefix
                       namespace
                       parent_frame
                       mass
                       shape
                       mesh_visual:=''
                       mesh_visual_has_color:=False
                       mesh_collision:=''
                       scale:=${None}
                       color:='1 1 1 1'
                       joint_root_fr_data_fr
                       joint_parent_fr_root_fr
                       use_sim:=False
                       sim_always_on:=True
                       sim_update_rate
                       sim_ang_vel_gaussian_noise:='0 0 0 0 0 0'
                       sim_ang_vel_gaussian_noise_bias:='0 0 0 0 0 0'
                       sim_ang_vel_gaussian_noise_dynamic_bias:='0 0 0 0 0 0'
                       sim_lin_acc_gaussian_noise:='0 0 0 0 0 0'
                       sim_lin_acc_gaussian_noise_bias:='0 0 0 0 0 0'
                       sim_lin_acc_gaussian_noise_dynamic_bias:='0 0 0 0 0 0'
                       sim_use_orientation:=True">

    <xacro:include filename="$(find eut_robotics_description)/urdf/common/all_commons.xacro"/>

    <!--
    Convention:
    Set the root frame (root_link) at the center of the bottom face of the lidar.
    -->

    <xacro:property name="shape_lst"  value="${shape.split()}"/>
    <xacro:property name="vci_pose_z" value="${0.5 * float(shape_lst[3])}"/>

    <xacro:set_shaped_link
      name="${name}_root"
      prefix="${prefix}"
      use_visual="True"
      use_collision="True"
      use_inertia="True"
      mass="${mass}"
      shape="${shape}"
      mesh_visual="${mesh_visual}"
      mesh_visual_has_color="${mesh_visual_has_color}"
      mesh_collision="${mesh_collision}"
      scale="${scale}"
      color="${color}"
      vci_pose="0 0 ${vci_pose_z} 0 0 0"/>

    <!--
    Definition of the link ${prefix}${name}_link.
    -->
    <link name="${prefix}${name}_link">
      <xacro:null_inertia/>
    </link>

    <xacro:property name="j_data"                    value="${joint_root_fr_data_fr.split()}"/>
    <xacro:property name="joint_root_fr_data_fr_xyz" value="${' '.join(map(str, j_data[:3]))}"/>
    <xacro:property name="joint_root_fr_data_fr_rpy" value="${' '.join(map(str, j_data[3:]))}"/>

    <joint name="${prefix}${name}_joint" type="fixed">
      <parent link="${prefix}${name}_root_link"/>
      <child link="${prefix}${name}_link"/>
      <origin rpy="${joint_root_fr_data_fr_rpy}" xyz="${joint_root_fr_data_fr_xyz}"/>
    </joint>

    <xacro:property name="j_root"                    value="${joint_parent_fr_root_fr.split()}"/>
    <xacro:property name="joint_root_fr_data_fr_xyz" value="${' '.join(map(str, j_root[:3]))}"/>
    <xacro:property name="joint_root_fr_data_fr_rpy" value="${' '.join(map(str, j_root[3:]))}"/>

    <joint name="${prefix}${name}_root_joint" type="fixed">
      <parent link="${parent_frame}"/>
      <child link="${prefix}${name}_root_link"/>
      <origin rpy="${joint_root_fr_data_fr_rpy}" xyz="${joint_root_fr_data_fr_xyz}"/>
    </joint>

    <xacro:if value="${use_sim}">
      <xacro:include filename="$(find eut_robotics_description)/urdf/sensors/imus/imu_plugin_macro.xacro"/>

      <xacro:property name="sim_topic"
                      value="${(namespace if namespace in ('', '/')
                                          else namespace.rstrip('/') + '/') + name + '/data'}"/>
      <xacro:imu_plugin
        sensor_name="${prefix}${name}_gz"
        reference_link="${prefix}${name}_link"
        topic="${sim_topic}"
        always_on="${sim_always_on}"
        update_rate="${sim_update_rate}"
        ang_vel_gaussian_noise="${sim_ang_vel_gaussian_noise}"
        ang_vel_gaussian_noise_bias="${sim_ang_vel_gaussian_noise_bias}"
        ang_vel_gaussian_noise_dynamic_bias="${sim_ang_vel_gaussian_noise_dynamic_bias}"
        lin_acc_gaussian_noise="${sim_lin_acc_gaussian_noise}"
        lin_acc_gaussian_noise_bias="${sim_lin_acc_gaussian_noise_bias}"
        lin_acc_gaussian_noise_dynamic_bias="${sim_lin_acc_gaussian_noise_dynamic_bias}"
        use_orientation="${sim_use_orientation}"/>
    </xacro:if>
  </xacro:macro>
</robot>
