<?xml version="1.0"?>
<!--
Convention for parameter types:
R means real number
I means integer
S means string
B means boolean

name (S): name of the imu, used to name the links and joints.
prefix (S): optional prefix for the names of the links and joints.
parent_frame (S): name of the parent frame to which the imu's root frame is attached.
use_visual (B): if true, include visual element.
use_collision (B): if true, include collision element.
use_inertial (B): if true, include inertial element.
use_v_mesh (B): if true, use the mesh for the visual element. If false, use a box shape.
color (S): String of the form 'r (R) g (R) b (R) a (R)'. Used only if use_visual is true.
           If color is not empty, the provided color is applied to the object used in the visual element, either
           a mesh (even if the mesh has its own color) or box shape.
           If color is empty:
               If a mesh is used and has its own color, the color of the mesh is displayed.
               If a mesh is used with no color data associated or a box shape is used, a whitish default color is used
               to display the visual element.
use_c_mesh (B): if true, use the mesh for the collision element. If false, use a box shape.
joint_parent_fr_root_fr (S): Pose of the imu's root frame w.r.t the parent's frame.
    joint_parent_fr_root_fr (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'.
sim_enabled (B): if true, include the Gazebo IMU plugin.
sim_use_gravity (B): if true, the imu measures gravity in simulation.
sim_always_on (B): if true, the imu is always on in simulation.
sim_update_rate (R): update rate of the imu in simulation.
sim_ang_vel_gaussian_noise (S): Gaussian noise parameters for angular velocity measurements.
    sim_ang_vel_gaussian_noise (S) = 'mean (R) stddev (R) bias_mean (R) bias_stddev (R) dynamic_bias_mean (R) dynamic_bias_stddev (R)'.
sim_ang_vel_gaussian_noise_bias (S): Gaussian noise bias parameters for angular velocity measurements.
    sim_ang_vel_gaussian_noise_bias (S) = 'mean (R) stddev (R) bias_mean (R) bias_stddev (R) dynamic_bias_mean (R) dynamic_bias_stddev (R)'.
sim_ang_vel_gaussian_noise_dynamic_bias (S): Gaussian noise dynamic bias parameters for angular velocity measurements.
    sim_ang_vel_gaussian_noise_dynamic_bias (S) = 'mean (R) stddev (R) bias_mean (R) bias_stddev (R) dynamic_bias_mean (R) dynamic_bias_stddev (R)'.
sim_lin_acc_gaussian_noise (S): Gaussian noise parameters for linear acceleration measurements.
    sim_lin_acc_gaussian_noise (S) = 'mean (R) stddev (R) bias_mean (R) bias_stddev (R) dynamic_bias_mean (R) dynamic_bias_stddev (R)'.
sim_lin_acc_gaussian_noise_bias (S): Gaussian noise bias parameters for linear acceleration measurements.
    sim_lin_acc_gaussian_noise_bias (S) = 'mean (R) stddev (R) bias_mean (R) bias_stddev (R) dynamic_bias_mean (R) dynamic_bias_stddev (R)'.
sim_lin_acc_gaussian_noise_dynamic_bias (S): Gaussian noise dynamic bias parameters for linear acceleration measurements.
    sim_lin_acc_gaussian_noise_dynamic_bias (S) = 'mean (R) stddev (R) bias_mean (R) bias_stddev (R) dynamic_bias_mean (R) dynamic_bias_stddev (R)'.
sim_use_orientation (B): if true, the imu plugin provides orientation data in simulation.
sim_topic (S): Topic used by the Gazebo IMU plugin in simulation. This field is required.
    If it starts with '/', it is treated as absolute. Otherwise, it is resolved inside the robot namespace.
-->
<robot name="um7" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="um7"
               params="name
                       prefix:=''
                       parent_frame
                       use_visual:=True
                       use_collision:=True
                       use_inertial:=True
                       use_v_mesh:=True
                       color:=''
                       use_c_mesh:=False
                       joint_parent_fr_root_fr
                       sim_enabled:=False
                       sim_use_gravity:=True
                       sim_always_on:=True
                       sim_update_rate:=100
                       sim_ang_vel_gaussian_noise:='0 0 0 0 0 0'
                       sim_ang_vel_gaussian_noise_bias:='0 0 0 0 0 0'
                       sim_ang_vel_gaussian_noise_dynamic_bias:='0 0 0 0 0 0'
                       sim_lin_acc_gaussian_noise:='0 0 0 0 0 0'
                       sim_lin_acc_gaussian_noise_bias:='0 0 0 0 0 0'
                       sim_lin_acc_gaussian_noise_dynamic_bias:='0 0 0 0 0 0'
                       sim_use_orientation:=True
                       namespace:=''
                       sim_topic">

    <xacro:include filename="$(find robotics_description)/urdf/sensors/imus/box_imu_macro.xacro"/>

    <xacro:property name="mass"   value="0.0110"/>

    <!--
    The imu UM7 is approximated as a box with:
    - size_x: 0.0285 m
    - size_y: 0.0285 m
    - size_z: 0.0128 m.
    -->
    <xacro:property name="size_x" value="0.0285"/>
    <xacro:property name="size_y" value="0.0285"/>
    <xacro:property name="size_z" value="0.0128"/>

    <!--
    The frame of the mesh is located at its geometric center (see MeshLab), so it coincides with the frame of a box
    shape.
    Therefore, just one origin is needed no matter if use_<v|c>_mesh is true or false.
    Scale is 1 1 1.
    The mesh has its own color, so no color is needed.
    To access the mesh just use <package>/<path_to_mesh_within_package>.
    -->
    <xacro:property name="mesh"       value="robotics_description/meshes/sensors/imus/um7/mesh.dae"/>
    <xacro:property name="mesh_scale" value="1.0 1.0 1.0"/>

    <xacro:box_imu
      name="${name}"
      prefix="${prefix}"
      parent_frame="${parent_frame}"
      mass="${mass}"
      size="${size_x} ${size_y} ${size_z}"
      use_visual="${use_visual}"
      use_collision="${use_collision}"
      use_inertial="${use_inertial}"
      v_mesh="${mesh if use_v_mesh else ''}"
      v_mesh_scale="${mesh_scale}"
      color="${color}"
      c_mesh="${mesh if use_c_mesh else ''}"
      c_mesh_scale="${mesh_scale}"
      joint_parent_fr_root_fr="${joint_parent_fr_root_fr}"
      joint_root_fr_data_fr="-0.00785 0.00785 0.01118 ${pi} 0.0 0.0"
      sim_enabled="${sim_enabled}"
      sim_use_gravity="${sim_use_gravity}"
      sim_always_on="${sim_always_on}"
      sim_update_rate="${sim_update_rate}"
      sim_ang_vel_gaussian_noise="${sim_ang_vel_gaussian_noise}"
      sim_ang_vel_gaussian_noise_bias="${sim_ang_vel_gaussian_noise_bias}"
      sim_ang_vel_gaussian_noise_dynamic_bias="${sim_ang_vel_gaussian_noise_dynamic_bias}"
      sim_lin_acc_gaussian_noise="${sim_lin_acc_gaussian_noise}"
      sim_lin_acc_gaussian_noise_bias="${sim_lin_acc_gaussian_noise_bias}"
      sim_lin_acc_gaussian_noise_dynamic_bias="${sim_lin_acc_gaussian_noise_dynamic_bias}"
      sim_use_orientation="${sim_use_orientation}"
      namespace="${namespace}"
      sim_topic="${sim_topic}"/>
  </xacro:macro>
</robot>
