<?xml version="1.0"?>
<robot name="test_orbbec_gemini335le_split" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/common/all_commons.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/orbbec_gemini335le_split_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_depth_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/imus/generic_macros/set_props_plugin_imu_macro.xacro"/>

  <xacro:property name="sim_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/sensors/cameras/example_orbbec_gemini335le_split_simulation.yaml')}"/>

  <xacro:set_props_plugin_camera_depth prop_prefix="depth"
                                       sim_cfg="${sim_cfg.get('depth', dict())}"/>
  <xacro:set_props_plugin_camera prop_prefix="color"
                                 sim_cfg="${sim_cfg.get('color', dict())}"/>
  <xacro:set_props_plugin_camera prop_prefix="left_ir"
                                 sim_cfg="${sim_cfg.get('left_ir', dict())}"/>
  <xacro:set_props_plugin_camera prop_prefix="right_ir"
                                 sim_cfg="${sim_cfg.get('right_ir', dict())}"/>
  <xacro:set_props_plugin_imu prop_prefix="imu"
                              imu_sim_cfg="${sim_cfg.get('imu', dict())}"/>

  <link name="base_link"/>

  <xacro:orbbec_gemini335le name="camera"
                            parent_frame="base_link"
                            use_visual="True"
                            use_collision="True"
                            use_inertial="True"
                            use_v_mesh="True"
                            v_mesh_use_low_res="True"
                            color=""
                            use_c_mesh="False"
                            c_mesh_use_low_res="True"
                            joint_parent_fr_root_fr="0 0 0 0 0 0"
                            sim_depth_enabled="${depth_enabled}"
                            sim_depth_use_gravity="${depth_use_gravity}"
                            sim_depth_always_on="${depth_always_on}"
                            sim_depth_visualize="${depth_visualize}"
                            sim_depth_enable_metrics="${depth_enable_metrics}"
                            sim_depth_save="${depth_save}"
                            sim_depth_triggered="${depth_triggered}"
                            sim_depth_visible_mask="${depth_visible_mask}"
                            sim_depth_clip="${depth_clip}"
                            sim_depth_depth_clip="${depth_depth_clip}"
                            sim_depth_update_rate="${depth_update_rate}"
                            sim_depth_image="${depth_image}"
                            sim_depth_lens_single_elements="${depth_lens_single_elements}"
                            sim_depth_lens_custom_function="${depth_lens_custom_function}"
                            sim_depth_lens_intrinsics="${depth_lens_intrinsics}"
                            sim_depth_lens_xy_skew="${depth_lens_xy_skew}"
                            sim_depth_lens_projection="${depth_lens_projection}"
                            sim_depth_distortion_k_p="${depth_distortion_k_p}"
                            sim_depth_distortion_center="${depth_distortion_center}"
                            sim_depth_gaussian_noise="${depth_gaussian_noise}"
                            sim_color_enabled="${color_enabled}"
                            sim_color_use_gravity="${color_use_gravity}"
                            sim_color_always_on="${color_always_on}"
                            sim_color_visualize="${color_visualize}"
                            sim_color_enable_metrics="${color_enable_metrics}"
                            sim_color_save="${color_save}"
                            sim_color_triggered="${color_triggered}"
                            sim_color_visible_mask="${color_visible_mask}"
                            sim_color_clip="${color_clip}"
                            sim_color_update_rate="${color_update_rate}"
                            sim_color_image="${color_image}"
                            sim_color_lens_single_elements="${color_lens_single_elements}"
                            sim_color_lens_custom_function="${color_lens_custom_function}"
                            sim_color_lens_intrinsics="${color_lens_intrinsics}"
                            sim_color_lens_xy_skew="${color_lens_xy_skew}"
                            sim_color_lens_projection="${color_lens_projection}"
                            sim_color_distortion_k_p="${color_distortion_k_p}"
                            sim_color_distortion_center="${color_distortion_center}"
                            sim_color_gaussian_noise="${color_gaussian_noise}"
                            sim_left_ir_enabled="${left_ir_enabled}"
                            sim_left_ir_use_gravity="${left_ir_use_gravity}"
                            sim_left_ir_always_on="${left_ir_always_on}"
                            sim_left_ir_visualize="${left_ir_visualize}"
                            sim_left_ir_enable_metrics="${left_ir_enable_metrics}"
                            sim_left_ir_save="${left_ir_save}"
                            sim_left_ir_triggered="${left_ir_triggered}"
                            sim_left_ir_visible_mask="${left_ir_visible_mask}"
                            sim_left_ir_clip="${left_ir_clip}"
                            sim_left_ir_update_rate="${left_ir_update_rate}"
                            sim_left_ir_image="${left_ir_image}"
                            sim_left_ir_lens_single_elements="${left_ir_lens_single_elements}"
                            sim_left_ir_lens_custom_function="${left_ir_lens_custom_function}"
                            sim_left_ir_lens_intrinsics="${left_ir_lens_intrinsics}"
                            sim_left_ir_lens_xy_skew="${left_ir_lens_xy_skew}"
                            sim_left_ir_lens_projection="${left_ir_lens_projection}"
                            sim_left_ir_distortion_k_p="${left_ir_distortion_k_p}"
                            sim_left_ir_distortion_center="${left_ir_distortion_center}"
                            sim_left_ir_gaussian_noise="${left_ir_gaussian_noise}"
                            sim_right_ir_enabled="${right_ir_enabled}"
                            sim_right_ir_use_gravity="${right_ir_use_gravity}"
                            sim_right_ir_always_on="${right_ir_always_on}"
                            sim_right_ir_visualize="${right_ir_visualize}"
                            sim_right_ir_enable_metrics="${right_ir_enable_metrics}"
                            sim_right_ir_save="${right_ir_save}"
                            sim_right_ir_triggered="${right_ir_triggered}"
                            sim_right_ir_visible_mask="${right_ir_visible_mask}"
                            sim_right_ir_clip="${right_ir_clip}"
                            sim_right_ir_update_rate="${right_ir_update_rate}"
                            sim_right_ir_image="${right_ir_image}"
                            sim_right_ir_lens_single_elements="${right_ir_lens_single_elements}"
                            sim_right_ir_lens_custom_function="${right_ir_lens_custom_function}"
                            sim_right_ir_lens_intrinsics="${right_ir_lens_intrinsics}"
                            sim_right_ir_lens_xy_skew="${right_ir_lens_xy_skew}"
                            sim_right_ir_lens_projection="${right_ir_lens_projection}"
                            sim_right_ir_distortion_k_p="${right_ir_distortion_k_p}"
                            sim_right_ir_distortion_center="${right_ir_distortion_center}"
                            sim_right_ir_gaussian_noise="${right_ir_gaussian_noise}"
                            sim_imu_enabled="${imu_enabled}"
                            sim_imu_use_gravity="${imu_use_gravity}"
                            sim_imu_always_on="${imu_always_on}"
                            sim_imu_update_rate="${imu_update_rate}"
                            sim_imu_ang_vel_gaussian_noise="${imu_ang_vel_gaussian_noise}"
                            sim_imu_ang_vel_gaussian_noise_bias="${imu_ang_vel_gaussian_noise_bias}"
                            sim_imu_ang_vel_gaussian_noise_dynamic_bias="${imu_ang_vel_gaussian_noise_dynamic_bias}"
                            sim_imu_lin_acc_gaussian_noise="${imu_lin_acc_gaussian_noise}"
                            sim_imu_lin_acc_gaussian_noise_bias="${imu_lin_acc_gaussian_noise_bias}"
                            sim_imu_lin_acc_gaussian_noise_dynamic_bias="${imu_lin_acc_gaussian_noise_dynamic_bias}"
                            sim_imu_use_orientation="${imu_use_orientation}"
                            namespace="test_camera"
                            sim_depth_image_topic="${depth_topic}"
                            sim_depth_camera_info_topic="${depth_info_topic}"
                            sim_depth_trigger_topic="${depth_trigger_topic}"
                            sim_color_image_topic="${color_topic}"
                            sim_color_camera_info_topic="${color_info_topic}"
                            sim_color_trigger_topic="${color_trigger_topic}"
                            sim_left_ir_image_topic="${left_ir_topic}"
                            sim_left_ir_camera_info_topic="${left_ir_info_topic}"
                            sim_left_ir_trigger_topic="${left_ir_trigger_topic}"
                            sim_right_ir_image_topic="${right_ir_topic}"
                            sim_right_ir_camera_info_topic="${right_ir_info_topic}"
                            sim_right_ir_trigger_topic="${right_ir_trigger_topic}"
                            sim_imu_topic="${imu_topic}"/>
</robot>
