<?xml version="1.0"?>
<robot name="test_realsense_d435" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/common/all_commons.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/realsense_d435_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_depth_macro.xacro"/>

  <xacro:property name="sim_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/sensors/cameras/example_realsense_d435_simulation.yaml')}"/>
  <xacro:property name="bridge_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/sensors/cameras/example_realsense_d435_bridge.yaml')}"/>

  <xacro:set_props_plugin_camera prop_id="rs"
                                 camera_type="color"
                                 camera_sim_cfg="${sim_cfg['color_camera']}"
                                 image_bridge_channel_cfg="${bridge_cfg['realsense_d435_color_image']}"
                                 camera_info_bridge_channel_cfg="${bridge_cfg['realsense_d435_color_camera_info']}"
                                 trigger_bridge_channel_cfg="${bridge_cfg['realsense_d435_color_trigger']}"/>

  <xacro:set_props_plugin_camera prop_id="rs"
                                 camera_type="infra"
                                 camera_sim_cfg="${sim_cfg['infrared_camera']}"
                                 image_bridge_channel_cfg="${bridge_cfg['realsense_d435_infra1_image']}"
                                 camera_info_bridge_channel_cfg="${bridge_cfg['realsense_d435_infra1_camera_info']}"
                                 trigger_bridge_channel_cfg="${bridge_cfg['realsense_d435_infra1_trigger']}"/>

  <xacro:set_props_plugin_camera_depth prop_id="rs"
                                       camera_type="depth"
                                       camera_sim_cfg="${sim_cfg['depth_camera']}"
                                       depth_image_bridge_channel_cfg="${bridge_cfg['realsense_d435_depth_depth_image']}"
                                       camera_info_bridge_channel_cfg="${bridge_cfg['realsense_d435_depth_camera_info']}"
                                       trigger_bridge_channel_cfg="${bridge_cfg['realsense_d435_depth_trigger']}"/>

  <link name="base_link"/>

  <xacro:realsense_d435 name="cam"
                        parent_frame="base_link"
                        use_sim="True"
                        sim_use_gravity="${sim_cfg['use_gravity']}"
                        sim_color_enabled="${rs_sim_color_enabled}"
                        sim_color_always_on="${rs_sim_color_always_on}"
                        sim_color_visualize="${rs_sim_color_visualize}"
                        sim_color_enable_metrics="${rs_sim_color_enable_metrics}"
                        sim_color_save="${rs_sim_color_save}"
                        sim_color_triggered="${rs_sim_color_triggered}"
                        sim_color_visible_mask="${rs_sim_color_visible_mask}"
                        sim_color_clip="${rs_sim_color_clip}"
                        sim_color_update_rate="${rs_sim_color_update_rate}"
                        sim_color_image="${rs_sim_color_image}"
                        sim_color_lens_single_elements="${rs_sim_color_lens_single_elements}"
                        sim_color_lens_custom_function="${rs_sim_color_lens_custom_function}"
                        sim_color_lens_intrinsics="${rs_sim_color_lens_intrinsics}"
                        sim_color_lens_projection="${rs_sim_color_lens_projection}"
                        sim_color_lens_xy_skew="${rs_sim_color_lens_xy_skew}"
                        sim_color_distortion_k_p="${rs_sim_color_distortion_k_p}"
                        sim_color_distortion_center="${rs_sim_color_distortion_center}"
                        sim_color_gaussian_noise="${rs_sim_color_gaussian_noise}"
                        sim_infra_enabled="${rs_sim_infra_enabled}"
                        sim_infra_always_on="${rs_sim_infra_always_on}"
                        sim_infra_visualize="${rs_sim_infra_visualize}"
                        sim_infra_enable_metrics="${rs_sim_infra_enable_metrics}"
                        sim_infra_save="${rs_sim_infra_save}"
                        sim_infra_triggered="${rs_sim_infra_triggered}"
                        sim_infra_visible_mask="${rs_sim_infra_visible_mask}"
                        sim_infra_clip="${rs_sim_infra_clip}"
                        sim_infra_update_rate="${rs_sim_infra_update_rate}"
                        sim_infra_image="${rs_sim_infra_image}"
                        sim_infra_lens_single_elements="${rs_sim_infra_lens_single_elements}"
                        sim_infra_lens_custom_function="${rs_sim_infra_lens_custom_function}"
                        sim_infra_lens_intrinsics="${rs_sim_infra_lens_intrinsics}"
                        sim_infra_lens_projection="${rs_sim_infra_lens_projection}"
                        sim_infra_lens_xy_skew="${rs_sim_infra_lens_xy_skew}"
                        sim_infra_distortion_k_p="${rs_sim_infra_distortion_k_p}"
                        sim_infra_distortion_center="${rs_sim_infra_distortion_center}"
                        sim_infra_gaussian_noise="${rs_sim_infra_gaussian_noise}"
                        sim_depth_enabled="${rs_sim_depth_enabled}"
                        sim_depth_always_on="${rs_sim_depth_always_on}"
                        sim_depth_visualize="${rs_sim_depth_visualize}"
                        sim_depth_enable_metrics="${rs_sim_depth_enable_metrics}"
                        sim_depth_save="${rs_sim_depth_save}"
                        sim_depth_triggered="${rs_sim_depth_triggered}"
                        sim_depth_visible_mask="${rs_sim_depth_visible_mask}"
                        sim_depth_clip="${rs_sim_depth_clip}"
                        sim_depth_depth_clip="${rs_sim_depth_depth_clip}"
                        sim_depth_update_rate="${rs_sim_depth_update_rate}"
                        sim_depth_image="${rs_sim_depth_image}"
                        sim_depth_lens_single_elements="${rs_sim_depth_lens_single_elements}"
                        sim_depth_lens_custom_function="${rs_sim_depth_lens_custom_function}"
                        sim_depth_lens_intrinsics="${rs_sim_depth_lens_intrinsics}"
                        sim_depth_lens_projection="${rs_sim_depth_lens_projection}"
                        sim_depth_lens_xy_skew="${rs_sim_depth_lens_xy_skew}"
                        sim_depth_distortion_k_p="${rs_sim_depth_distortion_k_p}"
                        sim_depth_distortion_center="${rs_sim_depth_distortion_center}"
                        sim_depth_gaussian_noise="${rs_sim_depth_gaussian_noise}"
                        sim_color_image_topic="${rs_sim_color_image_topic}"
                        sim_color_camera_info_topic="${rs_sim_color_camera_info_topic}"
                        sim_color_trigger_topic="${rs_sim_color_trigger_topic}"
                        sim_infra1_image_topic="${rs_sim_infra_image_topic}"
                        sim_infra1_camera_info_topic="${rs_sim_infra_camera_info_topic}"
                        sim_infra1_trigger_topic="${rs_sim_infra_trigger_topic}"
                        sim_infra2_image_topic="${rs_sim_infra_image_topic}"
                        sim_infra2_camera_info_topic="${rs_sim_infra_camera_info_topic}"
                        sim_infra2_trigger_topic="${rs_sim_infra_trigger_topic}"
                        sim_depth_depth_image_topic="${rs_sim_depth_depth_image_topic}"
                        sim_depth_camera_info_topic="${rs_sim_depth_camera_info_topic}"
                        sim_depth_trigger_topic="${rs_sim_depth_trigger_topic}"/>
</robot>
