<?xml version="1.0"?>
<robot name="test_steerable_wheel" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/wheels/steerable_wheel_macro.xacro"/>

  <link name="base_link"/>

  <xacro:steerable_wheel name="test_steerable_wheel"
                         parent_frame="base_link"
                         use_visual="false"
                         use_inertial="true"
                         v_mesh=""
                         v_mesh_scale="1.0 1.0 1.0"
                         color="0.2 0.2 0.2 1.0"
                         radius="0.15"
                         length="0.08"
                         mass="2.0"
                         steering_joint_type="revolute"
                         steering_joint_limits="-0.7 0.7 5.0 50.0"
                         steering_joint_dynamics="0.1 0.2"
                         rotation_joint_type="continuous"
                         rotation_joint_limits="20.0 200.0"
                         rotation_joint_dynamics="0.1 0.2"
                         max_contacts="10"
                         mu="0.5"
                         mu2="5.0"
                         slip1="0.05"
                         slip2="0.005"
                         joint_parent_fr_wheel_fr="0.0 0.0 0.15 0.0 0.0 0.0"/>
</robot>
