<?xml version="1.0"?>
<robot name="test_imu_box" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/sensors/imus/imu_box_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/imus/generic_macros/set_props_plugin_imu_macro.xacro"/>

  <xacro:property name="imu_test_sim_cfg"
                  value="${dict(enabled=True,
                                 use_gravity=True,
                                 always_on=True,
                                 update_rate=100.0,
                                 ang_vel_gaussian_noise=dict(mean_x=0.0,
                                                             stddev_x=0.0,
                                                             mean_y=0.0,
                                                             stddev_y=0.0,
                                                             mean_z=0.0,
                                                             stddev_z=0.0),
                                 ang_vel_gaussian_noise_bias=dict(mean_x=0.0,
                                                                  stddev_x=0.0,
                                                                  mean_y=0.0,
                                                                  stddev_y=0.0,
                                                                  mean_z=0.0,
                                                                  stddev_z=0.0),
                                 ang_vel_gaussian_noise_dynamic_bias=dict(stddev_x=0.0,
                                                                         corr_time_x=0.0,
                                                                         stddev_y=0.0,
                                                                         corr_time_y=0.0,
                                                                         stddev_z=0.0,
                                                                         corr_time_z=0.0),
                                 lin_acc_gaussian_noise=dict(mean_x=0.0,
                                                             stddev_x=0.0,
                                                             mean_y=0.0,
                                                             stddev_y=0.0,
                                                             mean_z=0.0,
                                                             stddev_z=0.0),
                                 lin_acc_gaussian_noise_bias=dict(mean_x=0.0,
                                                                  stddev_x=0.0,
                                                                  mean_y=0.0,
                                                                  stddev_y=0.0,
                                                                  mean_z=0.0,
                                                                  stddev_z=0.0),
                                 lin_acc_gaussian_noise_dynamic_bias=dict(stddev_x=0.0,
                                                                         corr_time_x=0.0,
                                                                         stddev_y=0.0,
                                                                         corr_time_y=0.0,
                                                                         stddev_z=0.0,
                                                                         corr_time_z=0.0),
                                 use_orientation=True,
                                 topic='imu_box/data')}"/>

  <xacro:set_props_plugin_imu prop_prefix="imu"
                              imu_sim_cfg="${imu_test_sim_cfg}"/>

  <link name="base_link"/>

  <xacro:imu_box name="imu"
                 parent_frame="base_link"
                 mass="0.01"
                 size="0.04 0.03 0.02"
                 use_visual="True"
                 use_collision="True"
                 use_inertial="True"
                 v_mesh=""
                 v_mesh_scale="1.0 1.0 1.0"
                 color="0.1 0.1 0.1 1.0"
                 c_mesh=""
                 c_mesh_scale="1.0 1.0 1.0"
                 joint_parent_fr_root_fr="0 0 0 0 0 0"
                 joint_root_fr_data_fr="0 0 0 0 0 0"
                 sim_enabled="${imu_enabled}"
                 sim_use_gravity="${imu_use_gravity}"
                 sim_always_on="${imu_always_on}"
                 sim_update_rate="${imu_update_rate}"
                 sim_ang_vel_gaussian_noise="${imu_ang_vel_gaussian_noise}"
                 sim_ang_vel_gaussian_noise_bias="${imu_ang_vel_gaussian_noise_bias}"
                 sim_ang_vel_gaussian_noise_dynamic_bias="${imu_ang_vel_gaussian_noise_dynamic_bias}"
                 sim_lin_acc_gaussian_noise="${imu_lin_acc_gaussian_noise}"
                 sim_lin_acc_gaussian_noise_bias="${imu_lin_acc_gaussian_noise_bias}"
                 sim_lin_acc_gaussian_noise_dynamic_bias="${imu_lin_acc_gaussian_noise_dynamic_bias}"
                 sim_use_orientation="${imu_use_orientation}"
                 namespace="test_imu"
                 sim_topic="${imu_topic}"/>
</robot>
