<?xml version="1.0"?>
<robot name="test_wheel" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/wheels/all_wheels.xacro"/>

  <xacro:property name="wheel_sim_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/wheels/example_wheel_simulation.yaml')}"/>

  <xacro:set_props_wheel_sim prop_prefix="wheel_sim"
                             sim_cfg="${wheel_sim_cfg}"/>

  <link name="base_link"/>

  <xacro:wheel name="test_wheel"
               parent_frame="base_link"
               use_visual="false"
               use_inertial="true"
               v_mesh=""
               v_mesh_scale="1.0 1.0 1.0"
               color="0.2 0.2 0.2 1.0"
               radius="0.15"
               length="0.08"
               mass="2.0"
               rotation_joint_type="continuous"
               rotation_joint_limits="20.0 200.0"
               rotation_joint_dynamics="0.1 0.2"
               joint_parent_fr_wheel_fr="0.0 0.0 0.15 0.0 0.0 0.0"
               sim_enabled="${wheel_sim_enabled}"
               sim_max_contacts="${wheel_sim_max_contacts}"
               sim_mu="${wheel_sim_mu}"
               sim_mu2="${wheel_sim_mu2}"
               sim_slip1="${wheel_sim_slip1}"
               sim_slip2="${wheel_sim_slip2}"
               sim_fdir1="1 0 0"
               sim_fdir1_frame="base_link"/>
</robot>
