<?xml version="1.0"?>
<robot name="test_orbbec_gemini335le_rgbd" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/common/all_commons.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/orbbec_gemini335le_rgbd_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_rgbd_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/imus/generic_macros/set_props_plugin_imu_macro.xacro"/>

  <xacro:property name="sim_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/sensors/cameras/example_orbbec_gemini335le_rgbd_simulation.yaml')}"/>

  <xacro:set_props_plugin_camera_rgbd prop_prefix="rgbd"
                                      sim_cfg="${sim_cfg.get('rgbd', dict())}"/>
  <xacro:set_props_plugin_camera prop_prefix="left_ir"
                                 sim_cfg="${sim_cfg.get('left_ir', dict())}"/>
  <xacro:set_props_plugin_camera prop_prefix="right_ir"
                                 sim_cfg="${sim_cfg.get('right_ir', dict())}"/>
  <xacro:set_props_plugin_imu prop_prefix="imu"
                              imu_sim_cfg="${sim_cfg.get('imu', dict())}"/>

  <link name="base_link"/>

  <xacro:orbbec_gemini335le_rgbd name="camera"
                                 parent_frame="base_link"
                                 use_visual="True"
                                 use_collision="True"
                                 use_inertial="True"
                                 use_v_mesh="True"
                                 v_mesh_use_low_res="True"
                                 color=""
                                 use_c_mesh="False"
                                 c_mesh_use_low_res="True"
                                 joint_parent_fr_root_fr="0 0 0 0 0 0"
                                 sim_namespace="test_camera"
                                 sim_rgbd_enabled="${rgbd_enabled}"
                                 sim_rgbd_use_gravity="${rgbd_use_gravity}"
                                 sim_rgbd_always_on="${rgbd_always_on}"
                                 sim_rgbd_visualize="${rgbd_visualize}"
                                 sim_rgbd_enable_metrics="${rgbd_enable_metrics}"
                                 sim_rgbd_save="${rgbd_save}"
                                 sim_rgbd_triggered="${rgbd_triggered}"
                                 sim_rgbd_visible_mask="${rgbd_visible_mask}"
                                 sim_rgbd_clip="${rgbd_clip}"
                                 sim_rgbd_depth_clip="${rgbd_depth_clip}"
                                 sim_rgbd_update_rate="${rgbd_update_rate}"
                                 sim_rgbd_image="${rgbd_image}"
                                 sim_rgbd_lens_single_elements="${rgbd_lens_single_elements}"
                                 sim_rgbd_lens_custom_function="${rgbd_lens_custom_function}"
                                 sim_rgbd_lens_intrinsics="${rgbd_lens_intrinsics}"
                                 sim_rgbd_lens_xy_skew="${rgbd_lens_xy_skew}"
                                 sim_rgbd_lens_projection="${rgbd_lens_projection}"
                                 sim_rgbd_distortion_k_p="${rgbd_distortion_k_p}"
                                 sim_rgbd_distortion_center="${rgbd_distortion_center}"
                                 sim_rgbd_gaussian_noise="${rgbd_gaussian_noise}"
                                 sim_rgbd_base_topic="${rgbd_base_topic}"
                                 sim_rgbd_trigger_topic="${rgbd_trigger_topic}"
                                 sim_left_ir_enabled="${left_ir_enabled}"
                                 sim_left_ir_use_gravity="${left_ir_use_gravity}"
                                 sim_left_ir_always_on="${left_ir_always_on}"
                                 sim_left_ir_visualize="${left_ir_visualize}"
                                 sim_left_ir_enable_metrics="${left_ir_enable_metrics}"
                                 sim_left_ir_save="${left_ir_save}"
                                 sim_left_ir_triggered="${left_ir_triggered}"
                                 sim_left_ir_visible_mask="${left_ir_visible_mask}"
                                 sim_left_ir_clip="${left_ir_clip}"
                                 sim_left_ir_update_rate="${left_ir_update_rate}"
                                 sim_left_ir_image="${left_ir_image}"
                                 sim_left_ir_lens_single_elements="${left_ir_lens_single_elements}"
                                 sim_left_ir_lens_custom_function="${left_ir_lens_custom_function}"
                                 sim_left_ir_lens_intrinsics="${left_ir_lens_intrinsics}"
                                 sim_left_ir_lens_xy_skew="${left_ir_lens_xy_skew}"
                                 sim_left_ir_lens_projection="${left_ir_lens_projection}"
                                 sim_left_ir_distortion_k_p="${left_ir_distortion_k_p}"
                                 sim_left_ir_distortion_center="${left_ir_distortion_center}"
                                 sim_left_ir_gaussian_noise="${left_ir_gaussian_noise}"
                                 sim_left_ir_image_topic="${left_ir_topic}"
                                 sim_left_ir_camera_info_topic="${left_ir_info_topic}"
                                 sim_left_ir_trigger_topic="${left_ir_trigger_topic}"
                                 sim_right_ir_enabled="${right_ir_enabled}"
                                 sim_right_ir_use_gravity="${right_ir_use_gravity}"
                                 sim_right_ir_always_on="${right_ir_always_on}"
                                 sim_right_ir_visualize="${right_ir_visualize}"
                                 sim_right_ir_enable_metrics="${right_ir_enable_metrics}"
                                 sim_right_ir_save="${right_ir_save}"
                                 sim_right_ir_triggered="${right_ir_triggered}"
                                 sim_right_ir_visible_mask="${right_ir_visible_mask}"
                                 sim_right_ir_clip="${right_ir_clip}"
                                 sim_right_ir_update_rate="${right_ir_update_rate}"
                                 sim_right_ir_image="${right_ir_image}"
                                 sim_right_ir_lens_single_elements="${right_ir_lens_single_elements}"
                                 sim_right_ir_lens_custom_function="${right_ir_lens_custom_function}"
                                 sim_right_ir_lens_intrinsics="${right_ir_lens_intrinsics}"
                                 sim_right_ir_lens_xy_skew="${right_ir_lens_xy_skew}"
                                 sim_right_ir_lens_projection="${right_ir_lens_projection}"
                                 sim_right_ir_distortion_k_p="${right_ir_distortion_k_p}"
                                 sim_right_ir_distortion_center="${right_ir_distortion_center}"
                                 sim_right_ir_gaussian_noise="${right_ir_gaussian_noise}"
                                 sim_right_ir_image_topic="${right_ir_topic}"
                                 sim_right_ir_camera_info_topic="${right_ir_info_topic}"
                                 sim_right_ir_trigger_topic="${right_ir_trigger_topic}"
                                 sim_imu_enabled="${imu_enabled}"
                                 sim_imu_use_gravity="${imu_use_gravity}"
                                 sim_imu_always_on="${imu_always_on}"
                                 sim_imu_update_rate="${imu_update_rate}"
                                 sim_imu_ang_vel_gaussian_noise="${imu_ang_vel_gaussian_noise}"
                                 sim_imu_ang_vel_gaussian_noise_bias="${imu_ang_vel_gaussian_noise_bias}"
                                 sim_imu_ang_vel_gaussian_noise_dynamic_bias="${imu_ang_vel_gaussian_noise_dynamic_bias}"
                                 sim_imu_lin_acc_gaussian_noise="${imu_lin_acc_gaussian_noise}"
                                 sim_imu_lin_acc_gaussian_noise_bias="${imu_lin_acc_gaussian_noise_bias}"
                                 sim_imu_lin_acc_gaussian_noise_dynamic_bias="${imu_lin_acc_gaussian_noise_dynamic_bias}"
                                 sim_imu_use_orientation="${imu_use_orientation}"
                                 sim_imu_topic="${imu_topic}"/>
</robot>
