<?xml version="1.0"?>
<robot name="test_realsense_d435_rgbd" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robotics_description)/urdf/common/all_commons.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/realsense_d435_rgbd_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_rgbd_macro.xacro"/>
  <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/set_props_plugin_camera_macro.xacro"/>

  <xacro:property name="sim_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/sensors/cameras/example_realsense_d435_rgbd_simulation.yaml')}"/>
  <xacro:property name="bridge_cfg"
                  value="${xacro.load_yaml('$(find robotics_description)/config/sensors/cameras/example_realsense_d435_rgbd_bridge.yaml')}"/>

  <xacro:set_props_plugin_camera_rgbd prop_id="rs"
                                      camera_type="rgbd"
                                      camera_sim_cfg="${sim_cfg['rgbd_camera']}"
                                      image_bridge_channel_cfg="${bridge_cfg['realsense_d435_rgbd_image']}"
                                      camera_info_bridge_channel_cfg="${bridge_cfg['realsense_d435_rgbd_camera_info']}"
                                      depth_image_bridge_channel_cfg="${bridge_cfg['realsense_d435_rgbd_depth_image']}"
                                      points_bridge_channel_cfg="${bridge_cfg['realsense_d435_rgbd_points']}"
                                      trigger_bridge_channel_cfg="${bridge_cfg['realsense_d435_rgbd_trigger']}"/>

  <xacro:set_props_plugin_camera prop_id="rs"
                                 camera_type="infra"
                                 camera_sim_cfg="${sim_cfg['infrared_camera']}"
                                 image_bridge_channel_cfg="${bridge_cfg['realsense_d435_infra1_image']}"
                                 camera_info_bridge_channel_cfg="${bridge_cfg['realsense_d435_infra1_camera_info']}"
                                 trigger_bridge_channel_cfg="${bridge_cfg['realsense_d435_infra1_trigger']}"/>

  <link name="base_link"/>

  <xacro:realsense_d435_rgbd name="cam"
                             parent_frame="base_link"
                             use_sim="True"
                             sim_use_gravity="${sim_cfg['use_gravity']}"
                             sim_rgbd_enabled="${rs_sim_rgbd_enabled}"
                             sim_rgbd_always_on="${rs_sim_rgbd_always_on}"
                             sim_rgbd_visualize="${rs_sim_rgbd_visualize}"
                             sim_rgbd_enable_metrics="${rs_sim_rgbd_enable_metrics}"
                             sim_rgbd_save="${rs_sim_rgbd_save}"
                             sim_rgbd_triggered="${rs_sim_rgbd_triggered}"
                             sim_rgbd_visible_mask="${rs_sim_rgbd_visible_mask}"
                             sim_rgbd_clip="${rs_sim_rgbd_clip}"
                             sim_rgbd_depth_clip="${rs_sim_rgbd_depth_clip}"
                             sim_rgbd_update_rate="${rs_sim_rgbd_update_rate}"
                             sim_rgbd_image="${rs_sim_rgbd_image}"
                             sim_rgbd_lens_single_elements="${rs_sim_rgbd_lens_single_elements}"
                             sim_rgbd_lens_custom_function="${rs_sim_rgbd_lens_custom_function}"
                             sim_rgbd_lens_intrinsics="${rs_sim_rgbd_lens_intrinsics}"
                             sim_rgbd_lens_projection="${rs_sim_rgbd_lens_projection}"
                             sim_rgbd_lens_xy_skew="${rs_sim_rgbd_lens_xy_skew}"
                             sim_rgbd_distortion_k_p="${rs_sim_rgbd_distortion_k_p}"
                             sim_rgbd_distortion_center="${rs_sim_rgbd_distortion_center}"
                             sim_rgbd_gaussian_noise="${rs_sim_rgbd_gaussian_noise}"
                             sim_infra_enabled="${rs_sim_infra_enabled}"
                             sim_infra_always_on="${rs_sim_infra_always_on}"
                             sim_infra_visualize="${rs_sim_infra_visualize}"
                             sim_infra_enable_metrics="${rs_sim_infra_enable_metrics}"
                             sim_infra_save="${rs_sim_infra_save}"
                             sim_infra_triggered="${rs_sim_infra_triggered}"
                             sim_infra_visible_mask="${rs_sim_infra_visible_mask}"
                             sim_infra_clip="${rs_sim_infra_clip}"
                             sim_infra_update_rate="${rs_sim_infra_update_rate}"
                             sim_infra_image="${rs_sim_infra_image}"
                             sim_infra_lens_single_elements="${rs_sim_infra_lens_single_elements}"
                             sim_infra_lens_custom_function="${rs_sim_infra_lens_custom_function}"
                             sim_infra_lens_intrinsics="${rs_sim_infra_lens_intrinsics}"
                             sim_infra_lens_projection="${rs_sim_infra_lens_projection}"
                             sim_infra_lens_xy_skew="${rs_sim_infra_lens_xy_skew}"
                             sim_infra_distortion_k_p="${rs_sim_infra_distortion_k_p}"
                             sim_infra_distortion_center="${rs_sim_infra_distortion_center}"
                             sim_infra_gaussian_noise="${rs_sim_infra_gaussian_noise}"
                             sim_rgbd_image_topic="${rs_sim_rgbd_image_topic}"
                             sim_rgbd_camera_info_topic="${rs_sim_rgbd_camera_info_topic}"
                             sim_rgbd_depth_image_topic="${rs_sim_rgbd_depth_image_topic}"
                             sim_rgbd_points_topic="${rs_sim_rgbd_points_topic}"
                             sim_rgbd_trigger_topic="${rs_sim_rgbd_trigger_topic}"
                             sim_infra1_image_topic="${rs_sim_infra_image_topic}"
                             sim_infra1_camera_info_topic="${rs_sim_infra_camera_info_topic}"
                             sim_infra1_trigger_topic="${rs_sim_infra_trigger_topic}"
                             sim_infra2_image_topic="${rs_sim_infra_image_topic}"
                             sim_infra2_camera_info_topic="${rs_sim_infra_camera_info_topic}"
                             sim_infra2_trigger_topic="${rs_sim_infra_trigger_topic}"/>
</robot>
