<?xml version="1.0"?>
<robot name="set_props_plugin_lidar_3d_ring_macro" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <!--
  `prop_prefix` is used as the prefix for all the properties defined in this macro.
  -->

  <xacro:macro name="set_props_plugin_lidar_3d_ring"
               params="prop_prefix
                       sim_cfg:=dict()">

    <!--
    If sim_cfg does not have the field 'enabled' or if it is set to False, then set all the simulation
    properties to disable the simulation of the 3D lidar ring.
    -->
    <xacro:unless value="${sim_cfg.get('enabled', False)}">
      <xacro:property name="${prop_prefix}_enabled"        value="False" scope="parent"/>
      <xacro:property name="${prop_prefix}_always_on"      value="False" scope="parent"/>
      <xacro:property name="${prop_prefix}_visualize"      value="False" scope="parent"/>
      <xacro:property name="${prop_prefix}_update_rate"    value="0"     scope="parent"/>
      <xacro:property name="${prop_prefix}_hor_fov_deg"    value="0 0"   scope="parent"/>
      <xacro:property name="${prop_prefix}_hor_res_deg"    value="0"     scope="parent"/>
      <xacro:property name="${prop_prefix}_ver_fov_deg"    value="0 0"   scope="parent"/>
      <xacro:property name="${prop_prefix}_ver_res_deg"    value="0"     scope="parent"/>
      <xacro:property name="${prop_prefix}_dist_span"      value="0 0"   scope="parent"/>
      <xacro:property name="${prop_prefix}_dist_res"       value="0.0"   scope="parent"/>
      <xacro:property name="${prop_prefix}_gaussian_noise" value="0 0"   scope="parent"/>
      <xacro:property name="${prop_prefix}_base_topic"     value=""      scope="parent"/>
    </xacro:unless>

    <!--
    If sim_cfg has the field 'enabled' set to True, then set all the simulation
    properties according to the values in sim_cfg.
    The configuration is expected to be complete.
    -->
    <xacro:if value="${sim_cfg.get('enabled', False)}">
      <xacro:property name="${prop_prefix}_enabled"
                      value="True"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_always_on"
                      value="${sim_cfg['always_on']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_visualize"
                      value="${sim_cfg['visualize']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_update_rate"
                      value="${sim_cfg['update_rate']}"
                      scope="parent"/>

      <xacro:property name="sim_hor_fov_deg"
                      value="${sim_cfg['hor_fov_deg']}"/>
      <xacro:property name="${prop_prefix}_hor_fov_deg"
                      value="${sim_hor_fov_deg['min_angle']} ${sim_hor_fov_deg['max_angle']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_hor_res_deg"
                      value="${sim_cfg['hor_res_deg']}"
                      scope="parent"/>

      <xacro:property name="sim_ver_fov_deg"
                      value="${sim_cfg['ver_fov_deg']}"/>
      <xacro:property name="${prop_prefix}_ver_fov_deg"
                      value="${sim_ver_fov_deg['min_angle']} ${sim_ver_fov_deg['max_angle']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_ver_res_deg"
                      value="${sim_cfg['ver_res_deg']}"
                      scope="parent"/>

      <xacro:property name="sim_dist_span"
                      value="${sim_cfg['dist_span']}"/>
      <xacro:property name="${prop_prefix}_dist_span"
                      value="${sim_dist_span['min_dist']} ${sim_dist_span['max_dist']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_dist_res"
                      value="${sim_cfg.get('dist_res', 0.0)}"
                      scope="parent"/>

      <xacro:property name="sim_gaussian_noise"
                      value="${sim_cfg['gaussian_noise']}"/>
      <xacro:property name="${prop_prefix}_gaussian_noise"
                      value="${sim_gaussian_noise['mean']} ${sim_gaussian_noise['stddev']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_base_topic"
                      value="${sim_cfg['base_topic']}"
                      scope="parent"/>
    </xacro:if>
  </xacro:macro>
</robot>
