<?xml version="1.0"?>
<!--
The lidar_3d_ring_imu macro defines a multi‑ring 3D LiDAR with an IMU that can use plugins to simulate realistic sensor
behavior in Gazebo.
The model represents a rotating multi-beam sensors such as some models from Robosense, Ouster, etc.

This macro defines the following links and joints:
  - Links:
    - ${prefix}${name}_root_link, used to attach the sensor to the robot body.
    - ${prefix}${name}_link, where the LiDAR data is generated.
    - ${prefix}${name}_imu_link, where the IMU data is generated.
  - Joints:
    - ${prefix}${name}_root_joint, a fixed joint connecting the root link to the parent frame.
    - ${prefix}${name}_joint, a fixed joint connecting the lidar link to the root link.
    - ${prefix}${name}_imu_joint, a fixed joint connecting the imu link to the root link.

The physical body of the sensor is modeled either using a primitive box or a mesh. The parameters 'mass' and
'size=size_x size_y size_z' define its inertial and collision properties.
If a mesh is provided via the 'mesh' parameter, it is used for the visual element, and optionally for collision if
'use_mesh_for_collision' is True.
Mesh scaling is handled independently along each axis via 'scale=scale_x scale_y scale_z'.

THE MESH IS EXPECTED TO BE CENTERED AT ITS INNER FRAME. IF NO MESH IS PROVIDED, THE VISUAL AND COLLISION GEOMETRIES ARE
MODELED AS A BOX WITH THE GIVEN DIMENSIONS.

THE USER IS RESPONSIBLE FOR PASSING THE VALUES OF THE 'MASS' AND 'SIZE_<XYZ>' PARAMETERS THAT REPRESENT THE REAL
PHYSICAL PROPERTIES OF THE LIDAR. THIS IS, THE SCALE_<XYZ> PARAMETERS ARE NOT USED TO SCALE EITHER THE MASS OR THE SIZE
OF THE LIDAR, THEY ARE ONLY USED TO SCALE THE MESH, IF A MESH IS PROVIDED.

A color can be assigned to the visual using the 'color' parameter in RGBA format.

If 'sim_lidar_in_gz' is set to True, the macro instantiates a Gazebo LiDAR plugin inside a <gazebo> block.
This plugin simulates a 3D LiDAR, including vertical and horizontal angular resolution, using either CPU or GPU
backends, depending on the value of 'use_gpu_sensor'. The plugin parameters include:
  - Angular ranges and resolution:
    - Horizontal: from 'hor_min_angle_deg' to 'hor_max_angle_deg' with 'hor_samples'
    - Vertical: from 'ver_min_angle_deg' to 'ver_max_angle_deg' with 'ver_samples'
  - Range limits: 'min_dist' and 'max_dist'
  - Update rate in Hz
  - Option to enable or disable visualization
  - Gaussian noise model with configurable mean and standard deviation
  - Output topic name via the 'topic' parameter.

IT IS IMPORTANT TO NOTE THAT GAZEBO WILL PUBLISH 2 TOPICS, THE ONE YOU PROVIDED IN THE PARAMETER 'topic', WITH TYPE
LaserScan (2D) AND ANOTHER ONE, '${topic}/points', WITH TYPE PointCloud2 (3D).
THERE IS NO WAY TO CHANGE THIS BEHAVIOR OF THE GAZEBO PLUGIN.

If 'use_imu_gz_plugin' is set to True, a Gazebo plugin is added to simulate IMU sensor data. This plugin models angular
velocity, linear acceleration, and orientation, publishing to the topic specified by 'topic'.

The plugin supports advanced noise modeling for each IMU signal component, independently along each axis.
ang_vel_gaussian_noise = wx_gaussian_noise_mean wx_gaussian_noise_stddev,
                         wy_gaussian_noise_mean wy_gaussian_noise_stddev,
                         wz_gaussian_noise_mean wz_gaussian_noise_stddev,

Example gaussian_noise_ang_vel: '0 0 0 0 0 0'

ang_vel_gaussian_noise_bias = wx_gaussian_noise_bias_mean wx_gaussian_noise_bias_stddev
                              wy_gaussian_noise_bias_mean wy_gaussian_noise_bias_stddev
                              wz_gaussian_noise_bias_mean wz_gaussian_noise_bias_stddev

Example gaussian_noise_lin_acc: '0 0 0 0 0 0'

ang_vel_gaussian_noise_dynamic_bias = wx_gaussian_noise_dynamic_bias_stddev wx_gaussian_noise_dynamic_bias_corr_time,
                                      wy_gaussian_noise_dynamic_bias_stddev wy_gaussian_noise_dynamic_bias_corr_time,
                                      wz_gaussian_noise_dynamic_bias_stddev wz_gaussian_noise_dynamic_bias_corr_time,

Example gaussian_noise_bias_ang_vel: '0 0 0 0 0 0'

lin_acc_gaussian_noise = accx_gaussian_noise_mean accx_gaussian_noise_stddev,
                         accy_gaussian_noise_mean accy_gaussian_noise_stddev,
                         accz_gaussian_noise_mean accz_gaussian_noise_stddev,

Example gaussian_noise_bias_lin_acc: '0 0 0 0 0 0'

lin_acc_gaussian_noise_bias = accx_gaussian_noise_bias_mean accx_gaussian_noise_bias_stddev,
                              accy_gaussian_noise_bias_mean accy_gaussian_noise_bias_stddev,
                              accz_gaussian_noise_bias_mean accz_gaussian_noise_bias_stddev,

Example gaussian_noise_dynamic_bias_ang_vel: '0 0 0 0 0 0'

lin_acc_gaussian_noise_dynamic_bias = accx_gaussian_noise_dyn_bias_stddev accx_gaussian_noise_dyn_bias_corr_time,
                                      accy_gaussian_noise_dyn_bias_stddev accy_gaussian_noise_dyn_bias_corr_time,
                                      accz_gaussian_noise_dyn_bias_stddev accz_gaussian_noise_dyn_bias_corr_time,

Example gaussian_noise_dynamic_bias_lin_acc: '0 0, 0 0, 0 0'

The IMU provides the orientation in the 'ENU' (East-North-Up) frame, according to REP-103 and REP-145.

The visual, collision and inertial elements are positioned and oriented using the *vci_origin block.
The joint joint_parent_frame_root_frame is used to specify how the root link is connected to the parent frame.
The joint joint_root_frame_data_frame is used to specify how the data link is connected to the root link.
The joint joint_root_frame_imu_frame is used to specify how the IMU link is connected to the root link.

TO USE LIDAR PLUGIN DO NOT FORGET TO ADD THE FOLLOWING BLOCK TO THE SDF WORLD FILE YOU USE FOR SIMULATION:

<plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
  <render_engine>ogre2</render_engine>
</plugin>

TO USE IMU PLUGIN DO NOT FORGET TO ADD THE FOLLOWING BLOCK TO THE SDF WORLD FILE YOU USE FOR SIMULATION:

<plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>

Reference: https://gazebosim.org/docs/harmonic/sensors/
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="lidar_3d_ring_imu"
               params="name
                       prefix:=''
                       namespace:=''
                       parent_frame
                       mass
                       shape
                       mesh_visual:=''
                       mesh_visual_has_color:=False
                       mesh_collision:=''
                       scale:=''
                       color:='1 1 1 1'
                       joint_root_fr_data_fr
                       joint_root_fr_imu_fr
                       joint_parent_fr_root_fr
                       use_sim:=False
                       sim_always_on:=True
                       sim_visualize:=False
                       sim_update_rate
                       sim_hor_fov_deg
                       sim_hor_res_deg
                       sim_ver_fov_deg
                       sim_ver_res_deg
                       sim_dist_span
                       sim_gaussian_noise:='0 0'
                       sim_imu_always_on:=True
                       sim_imu_update_rate
                       sim_imu_ang_vel_gaussian_noise:='0 0 0 0 0 0'
                       sim_imu_ang_vel_gaussian_noise_bias:='0 0 0 0 0 0'
                       sim_imu_ang_vel_gaussian_noise_dynamic_bias:='0 0 0 0 0 0'
                       sim_imu_lin_acc_gaussian_noise:='0 0 0 0 0 0'
                       sim_imu_lin_acc_gaussian_noise_bias:='0 0 0 0 0 0'
                       sim_imu_lin_acc_gaussian_noise_dynamic_bias:='0 0 0 0 0 0'
                       sim_imu_use_orientation:=True">

    <xacro:include filename="$(find eut_robotics_description)/urdf/sensors/lidars/lidar_3d_ring_macro.xacro"/>

    <!--
    The 'lidar_3d_ring' macro creates the links:
    - ${prefix}{name}_root_link
    - ${prefix}{name}_link

    and the joints:
    - ${prefix}{name}_root_joint, joining the link ${parent_frame} with the link ${prefix}{name}_root_link.
    - ${prefix}{name}_joint, joining the link ${prefix}{name}_root_link with the link ${prefix}{name}_link.

    The '${prefix}{name}_root_link' is placed at the center of the bottom face of the LiDAR, as a convention.
    -->

    <xacro:lidar_3d_ring
      name="${name}"
      prefix="${prefix}"
      namespace="${namespace}"
      parent_frame="${parent_frame}"
      mass="${mass}"
      shape="${shape}"
      mesh_visual="${mesh_visual}"
      mesh_visual_has_color="${mesh_visual_has_color}"
      mesh_collision="${mesh_collision}"
      scale="${scale}"
      color="${color}"
      joint_root_fr_data_fr="${joint_root_fr_data_fr}"
      joint_parent_fr_root_fr="${joint_parent_fr_root_fr}"
      use_sim="${use_sim}"
      sim_always_on="${sim_always_on}"
      sim_visualize="${sim_visualize}"
      sim_update_rate="${sim_update_rate}"
      sim_hor_fov_deg="${sim_hor_fov_deg}"
      sim_hor_res_deg="${sim_hor_res_deg}"
      sim_ver_fov_deg="${sim_ver_fov_deg}"
      sim_ver_res_deg="${sim_ver_res_deg}"
      sim_dist_span="${sim_dist_span}"
      sim_gaussian_noise="${sim_gaussian_noise}"/>

    <!--
    We can't use directly the imu macro, because it defines a root link, and the root link in this lidar macro must be
    created by the lidar_3d_ring macro.
    Thefore, we just need to create the imu link, the imu joint and include the imu plugin.
    -->
    <link name="${prefix}${name}_imu_link">
      <xacro:null_inertia/>
    </link>

    <!--
    joint_root_fr_imu_fr='x y z rool pitch yaw'.
    Be aware that the imu frame, the frame where the imu data is generated, is located with the respect the root frame,
    '${prefix}{name}_root_link', created by the lidar_3d_ring macro, and located at the center of the bottom face of the
    LiDAR.
    -->
    <xacro:property name="joint_root_fr_imu_fr_lst"
                    value="${joint_root_fr_imu_fr.split()}"/>

    <joint name="${prefix}${name}_imu_joint" type="fixed">
      <parent link="${prefix}${name}_root_link"/>
      <child link="${prefix}${name}_imu_link"/>
      <origin rpy="${joint_root_fr_imu_fr_lst[3] joint_root_fr_imu_fr_lst[4] joint_root_fr_imu_fr_lst[5]}"
              xyz="${joint_root_fr_imu_fr_lst[0] joint_root_fr_imu_fr_lst[1] joint_root_fr_imu_fr_lst[2]}"/>
    </joint>

    <xacro:if value="${use_sim}">
      <xacro:include filename="$(find eut_robotics_description)/urdf/imus/imu.plugin_macro.xacro"/>

      <xacro:property name="sim_imu_topic"
                      value="${(namespace if namespace in ('', '/')
                                          else namespace.rstrip('/') + '/') + name + '/data'}"/>

      <xacro:imu_plugin
        sensor_name="${prefix}${name}_imu_gz"
        reference_link="${prefix}${name}_imu_link"
        topic="${sim_imu_topic}"
        always_on="${sim_imu_always_on}"
        update_rate="${sim_imu_update_rate}"
        ang_vel_gaussian_noise="${sim_imu_ang_vel_gaussian_noise}"
        ang_vel_gaussian_noise_bias="${sim_imu_ang_vel_gaussian_noise_bias}"
        ang_vel_gaussian_noise_dynamic_bias="${sim_imu_ang_vel_gaussian_noise_dynamic_bias}"
        lin_acc_gaussian_noise="${sim_imu_lin_acc_gaussian_noise}"
        lin_acc_gaussian_noise_bias="${sim_imu_lin_acc_gaussian_noise_bias}"
        lin_acc_gaussian_noise_dynamic_bias="${sim_imu_lin_acc_gaussian_noise_dynamic_bias}"
        use_orientation="${sim_imu_use_orientation}"/>
    </xacro:if>
  </xacro:macro>
</robot>
