<?xml version="1.0"?>
<robot name="set_lidar_3d_ring_props" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="set_lidar_3d_ring_props" params="desc_cfg sim_cfg:=${None} prop_prefix">

    <xacro:property name="${prop_prefix}_mass"   value="${desc_cfg['mass']}"  scope="parent"/>
    <xacro:property name="${prop_prefix}_shape"  value="${desc_cfg['shape']}" scope="parent"/>

    <!--
    desc_cfg['shape'] can have any of these values:
    shape: { "type": "r",  "size": { "x": sx,    "y": sy,    "z": sz } }    => shape='r  sx    sy    sz'
    shape: { "type": "cx", "size": { "x": thick, "y": 2*rad, "z": 2*rad } } => shape='cx thickness 2*radius  2*radius'
    shape: { "type": "cy", "size": { "x": 2*rad, "y": thick, "z": 2*rad } } => shape='cy 2*radius  thickness 2*radius'
    shape: { "type": "cz", "size": { "x": 2*rad, "y": 2*rad, "z": thick } } => shape='cz 2*radius  2*radius  thickness'
    shape: { "type": "s",  "size": { "x": 2*rad, "y": 2*rad, "z": 2*rad } } => shape='s  2*radius  2*radius  2*radius'

    r  => rectangle (box)
    cx => cylinder along x axis
    cy => cylinder along y axis
    cz => cylinder along z axis
    s  => sphere
    -->

    <xacro:property name="${prop_prefix}_size_x"
                    value="${desc_cfg['shape']['size']['x']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_size_y"
                    value="${desc_cfg['shape']['size']['y']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_size_z"
                    value="${desc_cfg['shape']['size']['z']}"
                    scope="parent"/>

    <!--
    If you can accommodate all the values that constitute the string in a single line in the 'value' field, you can do
    it directly as:
    <xacro:property name="${prop_prefix}_size_z"
                    value="${desc_cfg['shape']['size']['z']}"
                    scope="parent"/>
    But if you need to split the line that you assign to the 'value' field, because the line is too long to fit in a
    single with a resonable length, then you have to use the 'join' method as done below to avoid sevaral whitespaces
    in the resulting string separating the values when the macro is expanded.
    -->

    <xacro:property name="${prop_prefix}_shape"
                    value="${' '.join([desc_cfg['shape']['type'],
                                        str(desc_cfg['shape']['size']['x']),
                                        str(desc_cfg['shape']['size']['y']),
                                        str(desc_cfg['shape']['size']['z'])])}"
                    scope="parent"/>

    <!--
    The property 'mesh' is local to this macro, so no need to use scope="parent". This property is used to set
    another property in the parent scope, which is '${prop_prefix}_mesh'.
    -->
    <xacro:property name="mesh_dir" value="$(find eut_robotics_description)/meshes"/>

    <xacro:property name="${prop_prefix}_mesh_visual"
                    value="${mesh_dir + '/' + desc_cfg['mesh_visual'] if desc_cfg['mesh_visual'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mesh_visual_has_color"
                    value="${desc_cfg['mesh_visual_has_color']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mesh_collision"
                    value="${mesh_dir + '/' + desc_cfg['mesh_collision'] if desc_cfg['mesh_collision'] else ''}"
                    scope="parent"/>

    <!--
    To be able to do the comparion and the assignment of the resulting string in a single line, being the string
    a concatenation of several values, you have to combine those values in a list, and then use 'join' to create the
    string.
    -->
    <xacro:property name="${prop_prefix}_scale"
                    value="${' '.join([str(desc_cfg['scale']['x']),
                                       str(desc_cfg['scale']['y']),
                                       str(desc_cfg['scale']['z'])])
                            if desc_cfg['scale'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_color"
                    value="${' '.join([str(desc_cfg['color']['r']),
                                       str(desc_cfg['color']['g']),
                                       str(desc_cfg['color']['b']),
                                       str(desc_cfg['color']['a'])])}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_joint_root_fr_data_fr"
                    value="${' '.join([str(desc_cfg['joint_root_fr_data_fr']['x']),
                                       str(desc_cfg['joint_root_fr_data_fr']['y']),
                                       str(desc_cfg['joint_root_fr_data_fr']['z']),
                                       str(desc_cfg['joint_root_fr_data_fr']['R']),
                                       str(desc_cfg['joint_root_fr_data_fr']['P']),
                                       str(desc_cfg['joint_root_fr_data_fr']['Y'])])}"
                    scope="parent"/>
    <!--
    If no sim_cfg is provided, the following properties are created in the parent scope with value 'None':
    '${prop_prefix}_sim_always_on'
    '${prop_prefix}_sim_visualize'
    '${prop_prefix}_sim_update_rate'
    '${prop_prefix}_sim_hor_fov_deg'
    '${prop_prefix}_sim_hor_res_deg'
    '${prop_prefix}_sim_ver_fov_deg'
    '${prop_prefix}_sim_ver_res_deg'
    '${prop_prefix}_sim_dist_span'
    '${prop_prefix}_sim_gaussian_noise'

    If the sim_cfg is provided, the following fields are required to be present in the sim_cfg dictionary:
    'always_on'
    'visualize'
    'update_rate'
    'hor_fov_deg': { 'min': ..., 'max': ... }
    'hor_res_deg'
    'ver_fov_deg': { 'min': ..., 'max': ... }
    'ver_res_deg'
    'dist_span': { 'min': ..., 'max': ... }
    'gaussian_noise': { 'mean': ..., 'stddev': ... }

    If any of these fields is missing, an error will be raised.
    The same properties as above are created in the parent scope, but now with the corresponding values.
    -->

    <xacro:if value="${sim_cfg is None}">
      <xacro:property name="${prop_prefix}_use_sim"            value="False"     scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_always_on"      value="False"     scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_visualize"      value="False"     scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_update_rate"    value="0.0"       scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_hor_fov_deg"    value="${dict()}" scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_hor_res_deg"    value="0.0"       scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_ver_fov_deg"    value="${dict()}" scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_ver_res_deg"    value="0.0"       scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_dist_span"      value="${dict()}" scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_gaussian_noise" value="${dict()}" scope="parent"/>
    </xacro:if>

    <xacro:if value="${sim_cfg is not None}">
      <xacro:property name="${prop_prefix}_use_sim"            value="True"                         scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_always_on"      value="${sim_cfg['always_on']}"      scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_visualize"      value="${sim_cfg['visualize']}"      scope="parent"/>
      <xacro:property name="${prop_prefix}_sim_update_rate"    value="${sim_cfg['update_rate']}"    scope="parent"/>

      <xacro:property name="${prop_prefix}_sim_hor_fov_deg"
                      value="${sim_cfg['hor_fov_deg']['min']} ${sim_cfg['hor_fov_deg']['max']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_sim_hor_res_deg"    value="${sim_cfg['hor_res_deg']}"    scope="parent"/>

      <xacro:property name="${prop_prefix}_sim_ver_fov_deg"
                      value="${sim_cfg['ver_fov_deg']['min']} ${sim_cfg['ver_fov_deg']['max']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_sim_ver_res_deg"    value="${sim_cfg['ver_res_deg']}"    scope="parent"/>

      <xacro:property name="${prop_prefix}_sim_dist_span"
                      value="${sim_cfg['dist_span']['min']} ${sim_cfg['dist_span']['max']}"
                      scope="parent"/>

      <xacro:property name="${prop_prefix}_sim_gaussian_noise"
                      value="${sim_cfg['gaussian_noise']['mean']} ${sim_cfg['gaussian_noise']['stddev']}"
                      scope="parent"/>
    </xacro:if>
  </xacro:macro>
</robot>
