<?xml version="1.0"?>
<robot name="set_wheel_props" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="set_wheel_props" params="desc_cfg prop_prefix">

    <xacro:property name="${prop_prefix}_mass"
                    value="${desc_cfg.get('mass', 0.1)}"
                    scope="parent"/>
    <!--
    A wheel is either a cylinder (c) with its rotation axis along the y-axis or a sphere (s), no more geometries are
    allowed.
    In the case of a cylinder:
    shape:  { "type": "c", "size": { "x": 2*radius, "y": thickness, "z": 2*radius } }
    In the case of a sphere:
    shape:  { "type": "s", "size": { "x": 2*radius, "y": 2*radius, "z": 2*radius } }

    Store the values from the dictionary 'wheel' into properties to minimize key search in dictionary when using the
    same value multiple times.
    -->
    <!--
    _wheel_shape_dict is defined because it is used multiple times below, and by defining once and reusing it, we
    avoid multiple searches in the dictionary, which is more efficient.
    This property is not needed in the parent scope, so no scope="parent" is used.

    Same for _wheel_shape_type and _wheel_size, _wheel_size_x, _wheel_size_y, _wheel_size_z, _wheel_mesh_visual and
    mesh_dir
    -->
    <xacro:property name="_wheel_shape_dict"  value="${desc_cfg['shape']}"/>
    <xacro:property name="_wheel_shape_type"  value="${_wheel_shape_dict['type']}"/>
    <xacro:property name="_wheel_size"        value="${_wheel_shape_dict['size']}"/>
    <xacro:property name="_wheel_size_x"      value="${_wheel_size['x']}"/>
    <xacro:property name="_wheel_size_y"      value="${_wheel_size['y']}"/>
    <xacro:property name="_wheel_size_z"      value="${_wheel_size['z']}"/>
    <xacro:property name="_wheel_mesh_visual" value="${desc_cfg['mesh_visual']}"/>
    <xacro:property name="mesh_dir"           value="$(find eut_robotics_description)/meshes"/>

    <xacro:property name="${prop_prefix}_shape_type"     value="${_wheel_shape_type}"          scope="parent"/>
    <xacro:property name="${prop_prefix}_size_x"         value="${_wheel_size_x}"              scope="parent"/>
    <xacro:property name="${prop_prefix}_size_y"         value="${_wheel_size_y}"              scope="parent"/>
    <xacro:property name="${prop_prefix}_size_z"         value="${_wheel_size_z}"              scope="parent"/>

    <xacro:property name="${prop_prefix}_shape"
                    value="${_wheel_shape_type} ${_wheel_size_x} ${_wheel_size_y} ${_wheel_size_z}"
                    scope="parent"/>

    <!--
    Either if you use the cylinder or the sphere shape for the wheel, the radius can be obtained from size_x:
    size_x = 2*radius, radius = 0.5*size_x
    -->
    <xacro:property name="${prop_prefix}_radius"         value="${0.5 * _wheel_size_x}"        scope="parent"/>

    <!--
    Regarding the default value for the paramters 'velocity_limit' and 'effor_limit'.

    effort_limit = 100000 Newton-meters, is a huge value.
    This represents the maximum torque the joint can apply. To put this into perspective, a high-performance
    passenger car engine produces between 200-500 N·m of torque. A value of 100000 N·m is more in the realm of
    industrial cranes or ship engines. It is an astronomically high value for a robot wheel.

    velocity_limit = 100 rad/s translates to approximately 955 rpm, which is extremely fast.

    By setting such a high values, we are declaring the actuator is ideal and can achieve very high torque and
    speeds without physical constraints. This is useful in simulation environments where we want to test the
    control algorithms (like velocity control, path planning, or trajectory following) without being constrained by
    the physical limitations of real-world motors.
    In essence, we are testing the software logic in isolation.
    -->
    <xacro:property name="${prop_prefix}_velocity_limit"
                    value="${desc_cfg.get('velocity_limit', 100)}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_effort_limit"
                    value="${desc_cfg.get('effort_limit', 100000)}"
                    scope="parent"/>

    <!--
    Default values for max_contacts, mu, mu2, slip1, and slip2 obtained from:
    http://sdformat.org/spec?ver=1.10&elem=collision
    SDFormat 1.10 is valid for library sdformat14.
    -->

    <xacro:property name="${prop_prefix}_max_contacts"
                    value="${desc_cfg.get('max_contacts', 10)}"
                    scope="parent"/>

    <!--
    -->

    <xacro:property name="${prop_prefix}_mu"
                    value="${desc_cfg.get('mu', 1)}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mu2"
                    value="${desc_cfg.get('mu2', 1)}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_slip1"
                    value="${desc_cfg.get('slip1', 0)}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_slip2"
                    value="${desc_cfg.get('slip2', 0)}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mesh_visual"
                    value="${mesh_dir + '/' + _wheel_mesh_visual if _wheel_mesh_visual else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mesh_visual_has_color"
                    value="${desc_cfg['mesh_visual_has_color']}"
                    scope="parent"/>

    <xacro:property name="_wheel_color" value="${desc_cfg.get('color', dict(r = 0, g = 0, b = 0, a = 1))}"/>

    <xacro:property name="${prop_prefix}_color"
                    value="${_wheel_color['r']} ${_wheel_color['g']} ${_wheel_color['b']} ${_wheel_color['a']}"
                    scope="parent"/>

    <xacro:property name="_wheel_scale" value="${desc_cfg.get('scale', dict(x = 1, y = 1, z = 1))}"/>

    <xacro:property name="${prop_prefix}_scale"
                    value="${_wheel_scale['x']} ${_wheel_scale['y']} ${_wheel_scale['z']}"
                    scope="parent"/>
  </xacro:macro>
</robot>
