<?xml version="1.0"?>
<!--
The name of the robot model, 'flart', is obtained from the combination of the words 'forklift' and 'artisteril',
which is the company that manufactures the forklift robot.
-->
<robot name="flart" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <xacro:property name="pkg_dir"    value="$(find eut_robotics_description)"/>
  <xacro:property name="config_dir" value="${pkg_dir}/config"/>
  <xacro:property name="urdf_dir"   value="${pkg_dir}/urdf"/>

  <!-- INCLUDES -->

  <xacro:include filename="${urdf_dir}/common/all_commons.xacro"/>
  <xacro:include filename="${urdf_dir}/bases/rectangular_body_macro.xacro"/>
  <xacro:include filename="${urdf_dir}/bases/set_rectangular_body_props_macro.xacro"/>
  <xacro:include filename="${urdf_dir}/wheels/wheel_macro.xacro"/>
  <xacro:include filename="${urdf_dir}/wheels/set_wheel_props_macro.xacro"/>
  <xacro:include filename="${urdf_dir}/extras/fork_macro.xacro"/>
  <xacro:include filename="${urdf_dir}/extras/set_fork_props_macro.xacro"/>
  <xacro:include filename="${urdf_dir}/sensors/all_sensors_macro.xacro"/>

  <!--
  An input configuration file can be provided when instantiating this xacro file.
  If no input configuration file is provided, the default configuration file is used.
  -->
  <xacro:property name="desc_cfg" value="${xacro.load_yaml(config_dir + '/robots/flart/description.yaml')}"/>

  <!-- ===================================================================== -->
  <!-- ARGS -->
  <!-- ===================================================================== -->
  <xacro:arg name="robot_name"           default="${desc_cfg['name']}"/>
  <xacro:arg name="namespace"            default=""/>
  <!--
  Note that robot_prefix, defined below, will be appended to the odom_frame name.
  -->
  <xacro:arg name="odom_frame"           default="odom"/>
  <xacro:arg name="use_visual_meshes"    default="True"/>
  <xacro:arg name="use_collision_meshes" default="False"/>
  <xacro:arg name="use_sim_mode"         default="False"/>
  <xacro:arg name="sim_cfg_file"         default=""/>

  <!--
  Create properties from args for easy manipulation.
  -->

  <!-- args into properties for easy manipulation -->
  <xacro:property name="robname" value="$(arg robot_name)"/>
  <xacro:property name="ns"      value="$(arg namespace)"/>

  <xacro:property name="robot_namespace"
                  value="${(ns + robname) if ns in ('', '/') else (ns.rstrip('/') + '/' + robname)}"/>
  <xacro:property name="robot_prefix" value="${robname + '_'}"/>

  <xacro:property name="odom_frame"           value="$(arg odom_frame)"/>
  <xacro:property name="use_visual_meshes"    value="$(arg use_visual_meshes)"/>
  <xacro:property name="use_collision_meshes" value="$(arg use_collision_meshes)"/>
  <xacro:property name="use_sim_mode"         value="$(arg use_sim_mode)"/>

  <!--
  If not working in simulation mode, do not load the simulation configuration for the robot from the simulation
  configuration file.
  If working in simulation mode, but no configuration file is provided, set an empty dictionary, meaning no
  configuration is available.
  -->
  <xacro:property name="sim_cfg_file" value="$(arg sim_cfg_file)"/>

  <!--
  If the 'use_sim_mode' argument is True, then the 'sim_cfg_file' argument is required (non-empty).
  -->
  <xacro:if value="${use_sim_mode and not sim_cfg_file}">
    ${xacro.fatal("The argument 'sim_cfg_file' is empty while 'use_sim_mode' is set to True")}
  </xacro:if>

  <xacro:property name="sim_cfg" value="${xacro.load_yaml(sim_cfg_file) if use_sim_mode else dict()}"/>

  <!-- ===================================================================== -->
  <!-- ROBOT -->
  <!-- ===================================================================== -->

  <xacro:property name="robot_size_x" value="${desc_cfg['size']['x']}"/>
  <xacro:property name="robot_size_y" value="${desc_cfg['size']['y']}"/>
  <xacro:property name="robot_size_z" value="${desc_cfg['size']['z']}"/>

  <!-- ===================================================================== -->
  <!-- RECTANGULAR BASE -->
  <!-- ===================================================================== -->
  <!--
  base = body + wheels.
  In this case, the base is rectangular with 3 wheels, one in the front and two in the back.

  The rectangular_body macro defines the following links and joints:
  - Links:
    * ${prefix}${name}_footprint_link = ${robot_prefix}${base_name}_footprint_link
    * ${prefix}${name}_link = ${robot_prefix}${base_name}_link
    * ${prefix}${name}_ballast_link = ${robot_prefix}${base_name}_ballast_link
  - Joints:
    * ${prefix}${name}_joint = ${robot_prefix}${base_name}_joint, joining the links
      ${robot_prefix}${base_name}_footprint_link and ${robot_prefix}${base_name}_link.
    * ${prefix}${name}_ballast_joint = ${robot_prefix}${base_name}_ballast_joint, joining the links
      ${robot_prefix}${base_name}_link and ${robot_prefix}${base_name}_ballast_link.

  THE LINK '${robot_prefix}${base_name}_link' IS LOCATED AT THE CENTER OF THE BOTTOM FACE OF THE BASE BODY.

  THE LINK '${robot_prefix}${base_name}_footprint_link' IS LOCATED ON THE GROUND, JUST BELOW THE LINK
  '${robot_prefix}${base_name}_link'.
  ANOTHER WAY TO SEE IS, THE LINK '${robot_prefix}${base_name}_footprint_link' IS LOCATED ON THE GROUND, AND THE LINK
  '${robot_prefix}${base_name}_link' IS JUST OVER IT, AT A HEIGHT OF 'GROUND_CLEARANCE' METERS.
  -->

  <xacro:property name="base_name"              value="base"/>
  <xacro:property name="front_wheel_name"       value="front_wheel"/>       <!-- fw -->
  <xacro:property name="rear_left_wheel_name"   value="rear_left_wheel"/>   <!-- rlw -->
  <xacro:property name="rear_right_wheel_name"  value="rear_right_wheel"/>  <!-- rrw -->

  <xacro:set_rectangular_body_props desc_cfg="${desc_cfg['base']['body']}" prop_prefix="base_body"/>
  <xacro:property name="base_body_half_wheelbase"   value="${0.5 * base_body_wheelbase}"/>
  <xacro:property name="base_body_half_track_width" value="${0.5 * base_body_track_width}"/>

  <xacro:rectangular_body
    name="${base_name}"
    prefix="${robot_prefix}"
    mass="${base_body_mass}"
    size="${base_body_size_x} ${base_body_size_y} ${base_body_size_z}"
    ground_clearance="${base_body_ground_clearance}"
    ballast_mass_ratio="0.95"
    ballast_height_ratio="0.1"
    mesh_visual="${base_body_mesh_visual if use_visual_meshes else ''}"
    mesh_visual_has_color="${base_body_mesh_visual_has_color}"
    color="${base_body_color}"
    mesh_collision="${base_body_mesh_collision if use_collision_meshes else ''}"
    scale="${base_body_scale}"/>

  <!--
  Definition of the wheel blocks:
  wheel_block = rotation_gear + wheel

  Front and rear wheels can rotate, so this way the omnidirectional motion is achieved.
  -->
  <link name="${robot_prefix}${front_wheel_name}_gear_link">
    <xacro:null_inertia/>
  </link>

  <xacro:property name="z_wheel_gear" value="0.278"/>

  <joint name="${robot_prefix}${front_wheel_name}_gear_joint" type="fixed">
    <parent link="${robot_prefix}${base_name}_link"/>
    <child link="${robot_prefix}${front_wheel_name}_gear_link"/>
    <origin rpy="0 0 0" xyz="${base_body_half_wheelbase} 0 ${z_wheel_gear}"/>
  </joint>

  <xacro:set_wheel_props desc_cfg="${desc_cfg['base']['wheel']}" prop_prefix="wheel"/>
  <xacro:property name="z_wheel" value="${-z_wheel_gear - base_body_ground_clearance + wheel_radius}"/>

  <xacro:wheel
    name="${front_wheel_name}"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}${front_wheel_name}_gear_link"
    mass="${wheel_mass}"
    shape="${wheel_shape}"
    joint_type="${wheel_joint_type}"
    velocity_limit="${wheel_velocity_limit}"
    effort_limit="${wheel_effort_limit}"
    max_contacts="${wheel_max_contacts}"
    mu="${wheel_mu}"
    mu2="${wheel_mu2}"
    slip1="${wheel_slip1}"
    slip2="${wheel_slip2}"
    mesh_visual="${wheel_mesh_visual}"
    mesh_visual_has_color="${wheel_mesh_visual_has_color}"
    color="${wheel_color}"
    scale="${wheel_scale}"
    joint_parent_fr_wheel_fr="0 0 ${z_wheel} 0 0 0"
    fdir1_fr="${robot_prefix}${front_wheel_name}_gear_link"
    fdir1="1 0 0"/>

  <link name="${robot_prefix}${rear_left_wheel_name}_gear_link">
    <xacro:null_inertia/>
  </link>

  <joint name="${robot_prefix}${rear_left_wheel_name}_gear_joint" type="fixed">
    <parent link="${robot_prefix}${base_name}_link"/>
    <child link="${robot_prefix}${rear_left_wheel_name}_gear_link"/>
    <origin rpy="0 0 0" xyz="${-base_body_half_wheelbase} ${base_body_half_track_width} ${z_wheel_gear}"/>
  </joint>

  <xacro:wheel
    name="${rear_left_wheel_name}"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}${rear_left_wheel_name}_gear_link"
    mass="${wheel_mass}"
    shape="${wheel_shape}"
    joint_type="${wheel_joint_type}"
    velocity_limit="${wheel_velocity_limit}"
    effort_limit="${wheel_effort_limit}"
    max_contacts="${wheel_max_contacts}"
    mu="${wheel_mu}"
    mu2="${wheel_mu2}"
    slip1="${wheel_slip1}"
    slip2="${wheel_slip2}"
    mesh_visual="${wheel_mesh_visual}"
    mesh_visual_has_color="${wheel_mesh_visual_has_color}"
    color="${wheel_color}"
    scale="${wheel_scale}"
    joint_parent_fr_wheel_fr="0 0 ${z_wheel} 0 0 0"
    fdir1_fr="${robot_prefix}${rear_left_wheel_name}_gear_link"
    fdir1="1 0 0"/>

  <link name="${robot_prefix}${rear_right_wheel_name}_gear_link">
    <xacro:null_inertia/>
  </link>

  <joint name="${robot_prefix}${rear_right_wheel_name}_gear_joint" type="fixed">
    <parent link="${robot_prefix}${base_name}_link"/>
    <child link="${robot_prefix}${rear_right_wheel_name}_gear_link"/>
    <origin rpy="0 0 0" xyz="${-base_body_half_wheelbase} ${-base_body_half_track_width} ${z_wheel_gear}"/>
  </joint>

  <xacro:wheel
    name="${rear_right_wheel_name}"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}${rear_right_wheel_name}_gear_link"
    mass="${wheel_mass}"
    shape="${wheel_shape}"
    joint_type="${wheel_joint_type}"
    velocity_limit="${wheel_velocity_limit}"
    effort_limit="${wheel_effort_limit}"
    max_contacts="${wheel_max_contacts}"
    mu="${wheel_mu}"
    mu2="${wheel_mu2}"
    slip1="${wheel_slip1}"
    slip2="${wheel_slip2}"
    mesh_visual="${wheel_mesh_visual}"
    mesh_visual_has_color="${wheel_mesh_visual_has_color}"
    color="${wheel_color}"
    scale="${wheel_scale}"
    joint_parent_fr_wheel_fr="0 0 ${z_wheel} 0 0 0"
    fdir1_fr="${robot_prefix}${rear_right_wheel_name}_gear_link"
    fdir1="1 0 0"/>

  <!-- ===================================================================== -->
  <!-- FORK -->
  <!-- ===================================================================== -->

  <xacro:set_fork_props desc_cfg="${desc_cfg['fork']}" prop_prefix="fork"/>

  <!--
  padding_x, is the empty space between the edge of the base and the beginning of the tines.
  (Note: the tines start at the back face of the fork base)
  robot_size_x = base_body_size_x + padding_x + tine_size_x.
  padding_x = robot_size_x - base_body_size_x - tine_size_x.
  -->

  <xacro:property name="padding_x" value="${robot_size_x - base_body_size_x - fork_tine_size_x}"/>

  <xacro:property name="joint_base_fr_fork_fr_x"
                  value="${(-base_body_size_x * 0.5) - padding_x - fork_base_size_x}"/>

  <xacro:property name="joint_base_fr_fork_fr_z"
                  value="${-base_body_ground_clearance + fork_tine_size_z + fork_clearance_under_fork}"/>

    <xacro:fork
    name="fork"
    prefix="${robot_prefix}"
    parent_frame="${robot_prefix}base_link"
    use_inertia="${fork_use_inertia}"
    tine_mass="${fork_tine_mass}"
    tine_size="${fork_tine_size}"
    base_mass="${fork_base_mass}"
    base_size="${fork_base_size}"
    tine_separation="${fork_tine_separation}"
    lower_limit="${fork_lower_limit}"
    upper_limit="${fork_upper_limit}"
    brake_distance="${fork_brake_distance}"
    velocity_limit="${fork_velocity_limit}"
    velocity_limit_full_effort="${fork_velocity_limit_full_effort}"
    acceleration="${fork_acceleration}"
    max_load="${fork_max_load}"
    effort_tolerance="${fork_effort_tolerance}"
    dynamics_damping="${fork_dynamics_damping}"
    tine_mesh_visual="${fork_tine_mesh_visual if use_visual_meshes else ''}"
    tine_mesh_visual_has_color="${fork_tine_mesh_visual_has_color}"
    tine_mesh_collision="${fork_tine_mesh_collision if use_collision_meshes else ''}"
    tine_scale="${fork_tine_scale}"
    color="${fork_color}"
    joint_parent_fr_root_fr="${joint_base_fr_fork_fr_x} 0 ${joint_base_fr_fork_fr_z} 0 0 ${pi}"/>

  <!-- ===================================================================== -->
  <!-- TOP PLATFORM -->
  <!-- ===================================================================== -->

  <!-- (t)op (p)latform -->
  <xacro:property name="tp_mass"    value="1"/>
  <xacro:property name="tp_size_x"  value="0.08"/>
  <xacro:property name="tp_size_y"  value="0.08"/>
  <xacro:property name="tp_size_z"  value="0.146"/>
  <xacro:property name="tp_color"   value="0.1 0.1 0.1 1"/>

  <xacro:link_r
    name="top_platform"
    prefix="${robot_prefix}"
    mass="${tp_mass}"
    size="${tp_size_x} ${tp_size_y} ${tp_size_z}"
    color="${tp_color}"
    vci_pose="0 0 ${0.5 * tp_size_z} 0 0 0"/>

  <joint name="${robot_prefix}top_platform_joint" type="fixed">
    <parent link="${robot_prefix}base_link"/>
    <child link="${robot_prefix}top_platform_link"/>
    <origin rpy="0 0 0" xyz="-0.08629 0 ${base_body_size_z}"/>
  </joint>


  <!-- ===================================================================== -->
  <!-- SENSORS -->
  <!-- ===================================================================== -->

  <!--
  FRONT_LIDAR
  -->

  <!--
  Check to verify that the robot's configuration has the proper lidar model listed.
  -->

  <xacro:if value="${desc_cfg['front_lidar']['model'] != 'robosense_helios_16p'}">
    ${xacro.fatal("The 'front_lidar' model detected in the robot's configuration file is not a 'robosense_helios_16p'")}
  </xacro:if>

  <xacro:property name="front_lidar_cfg"
                  value="${xacro.load_yaml(config_dir + '/sensors/lidars/robosense_helios_16p.yaml')}"/>

  <xacro:property name="joint_base_fr_front_lidar_fr_x"
                  value="${(0.5 * base_body_size_x) + (0.5 * front_lidar_cfg['shape']['size']['x']) - 0.028}"/>

  <xacro:property name="front_lidar_sim_cfg" value="${sim_cfg.get('front_lidar', dict()) if use_sim_mode else dict()}"/>

  <xacro:robosense_helios_16p
    name="front_lidar"
    prefix="${robot_prefix}"
    namespace="${robot_namespace}"
    parent_frame="${robot_prefix}base_link"
    joint_parent_fr_root_fr="${joint_base_fr_front_lidar_fr_x} 0 0.28 0 0 0"
    sim_cfg="${front_lidar_sim_cfg if front_lidar_sim_cfg.get('enabled', False) else None}"
    use_mesh_visual="${use_visual_meshes}"
    use_mesh_collision="${use_collision_meshes}"/>

  <!-- FRONT IMU -->

  <!--
  Check to verify that the robot's configuration has the proper imu model listed.
  -->

  <xacro:if value="${desc_cfg['front_imu']['model'] != 'um7'}">
    ${xacro.fatal("The 'front_imu' model detected in the robot's configuration file is not a 'um7'")}
  </xacro:if>


  <!--
  Position and orientation of the frame '${robot_prefix}front_imu_root_link' with respect to the frame
  '${robot_prefix}front_lidar_root_link'.
  -->

  <xacro:property name="joint_front_lidar_fr_front_imu_fr"
                  value="0 0 ${front_lidar_cfg['shape']['size']['z']} 0 0 0"/>

  <xacro:property name="front_imu_sim_cfg" value="${sim_cfg.get('front_imu', dict()) if use_sim_mode else dict()}"/>

  <xacro:um7
    name="front_imu"
    prefix="${robot_prefix}"
    namespace="${robot_namespace}"
    parent_frame="${robot_prefix}front_lidar_root_link"
    joint_parent_fr_root_fr="${joint_front_lidar_fr_front_imu_fr}"
    sim_cfg="${front_imu_sim_cfg if front_imu_sim_cfg.get('enabled', False) else None}"
    use_mesh_visual="${use_visual_meshes}"
    use_mesh_collision="${use_collision_meshes}"/>

  <xacro:if value="${use_sim_mode}">
    <!--
    <xacro:include filename="${urdf_dir}/robots/flart/ros2_control_sim.xacro"/>
    <xacro:r2c namespace="${robot_namespace}"
               fork_joint_name="${robot_prefix}fork_root_joint"
               front_left_wheel_joint_name="${robot_prefix}front_left_wheel_joint"
               front_right_wheel_joint_name="${robot_prefix}front_right_wheel_joint"
               rear_left_wheel_joint_name="${robot_prefix}rear_left_wheel_joint"
               rear_right_wheel_joint_name="${robot_prefix}rear_right_wheel_joint"/>
  -->

    <xacro:property name="velocity_control_sim_cfg"
                    value="${sim_cfg.get('gz_sim_systems_VelocityControl', dict())}"/>

    <xacro:property name="odometry_publisher_sim_cfg"
                    value="${sim_cfg.get('gz_sim_systems_OdometryPublisher', dict())}"/>

    <gazebo>
      <!--
      Reference for system plugins:
      https://gazebosim.org/api/gazebo/6/namespaceignition_1_1gazebo_1_1systems.html
      -->

      <xacro:if value="${velocity_control_sim_cfg.get('enabled', False)}">
        <xacro:property name="initial_linear"
                        value="${velocity_control_sim_cfg.get('initial_linear', dict(x=0, y=0, z=0))}"/>

        <xacro:property name="initial_angular"
                        value="${velocity_control_sim_cfg.get('initial_angular', dict(x=0, y=0, z=0))}"/>

        <!--
        Reference: https://gazebosim.org/api/gazebo/6/classignition_1_1gazebo_1_1systems_1_1VelocityControl.html
        Linear and angular velocity controller which is directly set on a model.
        -->
        <plugin filename="gz-sim-velocity-control-system" name="gz::sim::systems::VelocityControl">
          <topic>${robot_namespace}/cmd_vel</topic>
          <initial_linear>${initial_linear['x']} ${initial_linear['y']} ${initial_linear['z']}</initial_linear>
          <initial_angular>${initial_angular['x']} ${initial_angular['y']} ${initial_angular['z']}</initial_angular>
        </plugin>
      </xacro:if>

      <xacro:if value="${odometry_publisher_sim_cfg.get('enabled', False)}">
        <!--
        Reference: https://gazebosim.org/api/gazebo/6/classignition_1_1gazebo_1_1systems_1_1OdometryPublisher.html
        This plugin publishes the absolute pose (position and orientation) and velocities of the robot with respect to
        Gazebo's world frame.
        Strictly speaking, odometry is the pose (and some might consider velocities as well) of the robot with respect
        to its starting pose.
        Global localization, on the other hand, is the pose (again, some might consider velocities as well) of the robot
        with respect to a fixed global frame, considered the root frame for the application.
        The root frame for the application is usually called 'map' or 'world', and the odometry frame is usually called
        'odom'.
        Each robot has its own odometry frame in an application, while there is usually a single global frame for the
        application.

        The whole point of the explanation above is to let the reader now that although the plugin is called
        'OdometryPublisher', it is in fact a source of global localization for the robot, with respect to Gazebo's world
        frame.
        Therefore, the plugin 'OdometryPublisher' is providing the transformation 'T_world_fr_robot_root_fr', where
        the term 'robot_root_fr' is the generic expression to describe the frame that acts as the root frame for the
        robot, in this file, '${robot_prefix}base_footprint_link', but in other robots it could be
        '${robot_prefix}base_link' or any other name.
        Therefore, in the application where this xacro file is used, it is needed to compute the transformations
        'T_odom_fr_robot_root_frame' and transformation 'T_world_fr_odom_fr'.

        The transformation 'T_odom_fr_robot_root_fr' can be computed, for example, by integrating the velocities
        of the robot in the odometry frame, or using an Extended Kalman Filter (EKF) or a similar method.

        The relation between these three transformations is:

        T_world_fr_robot_root_fr = T_world_fr_odom_fr * T_odom_fr_robot_root_fr
              ^                       ^                          ^
        provided by the plugin     derived                  this is computed

        T_world_fr_odom_fr = T_world_fr_robot_root_fr * inv(T_odom_fr_robot_root_fr)

        When in simulation, the transformation 'T_world_fr_odom_fr' can be computed by the node in the package
        'eut_fake_localization', and the transformation 'T_odom_fr_robot_root_fr' can be computed by the
        'eut_ground_vehicle_twist_odometry' node, for example.

        -->
        <xacro:property name="odom_publish_frequency"
                        value="${odometry_publisher_sim_cfg.get('odom_publish_frequency', 50)}"/>

        <xacro:property name="offset"
                        value="${odometry_publisher_sim_cfg.get('offset', dict(x=0, y=0, z=0, R=0, P=0, Y=0))}"/>

        <xacro:property name="gaussian_noise"
                        value="${odometry_publisher_sim_cfg.get('gaussian_noise', 0)}"/>

        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
          <odom_frame>${robot_prefix}${odom_frame}</odom_frame>
          <robot_base_frame>${robot_prefix}${base_name}_footprint_link</robot_base_frame>
          <odom_publish_frequency>${odom_publish_frequency}</odom_publish_frequency>
          <!--
          Custom topic on which this system will publish odometry messages.
          We use the odom_covariance_topic to publish the odometry with covariance messages.
          <odom_topic>...</odom_topic>
          -->
          <!--
          Custom topic on which this system will publish odometry with covariance messages.
          -->
          <odom_covariance_topic>${robot_namespace}/odom</odom_covariance_topic>
          <!--
          Custom topic on which this system will publish the transform from odom_frame to robot_base_frame.
          -->
          <tf_topic>${robot_namespace}/tf_odom_fr_robot_root_fr</tf_topic>
          <dimensions>2</dimensions> <!-- 2D (x, y, yaw) -->
          <!--
          Position offset relative to the body fixed frame, the default value is 0 0 0.
          This offset will be added to the odometry message.
          -->
          <xyz_offset>${offset['x']} ${offset['y']} ${offset['z']}</xyz_offset>
          <!--
          Rotation offset relative to the body fixed frame, the default value is 0 0 0.
          This offset will be added to the odometry message.
          -->
          <rpy_offset>${offset['R']} ${offset['P']} ${offset['Y']}</rpy_offset>
          <!--
          Standard deviation of the Gaussian noise to be added to pose and twist messages.
          This element is optional, and the default value is 0.
          -->
          <gaussian_noise>${gaussian_noise}</gaussian_noise>
        </plugin>
      </xacro:if>
    </gazebo>
  </xacro:if>
</robot>
