<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="r2c"
               params="namespace
                       fork_joint_name
                       front_left_wheel_joint_name
                       front_right_wheel_joint_name
                       rear_left_wheel_joint_name
                       rear_right_wheel_joint_name">

    <ros2_control name="flart_r2c_sim" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <!--
      Wheel joints to control by the mecanum_drive_controller.
      -->
      <joint name="${front_left_wheel_joint_name}">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${front_right_wheel_joint_name}">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${rear_left_wheel_joint_name}">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${rear_right_wheel_joint_name}">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <!--
      Fork joint to control by the fork_controller.
      -->
      <joint name="${fork_joint_name}">
        <!--
        The joint could be controlled in position, velocity, and effort. One control at a time, not simultaneously.
        The joint reports its position, velocity, and effort.
        -->
        <command_interface name="position"/>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>

    <xacro:property name="control_manager_cfg_file"
                    value="$(find eut_robotics_description)/config/robots/flart/control_manager_sim.yaml"/>

    <xacro:property name="gz_ros_control_cfg_file"
                    value="$(find eut_robotics_description)/config/robots/flart/gz_ros_control.yaml"/>

    <xacro:property name="gz_ros_control_cfg" value="${xacro.load_yaml(gz_ros_control_cfg_file)}"/>

    <gazebo>
      <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
        <parameters>${control_manager_cfg_file}</parameters>
        <!-- <controller_manager_name>controller_manager</controller_manager_name> -->
        <!--
        Default values listed at
        https://control.ros.org/jazzy/doc/gz_ros2_control/doc/index.html#add-the-gz-ros2-control-plugin
        -->
        <hold_joints>${gz_ros_control_cfg.get('hold_joints', 'true')}</hold_joints>
        <position_proportional_gain>
          ${gz_ros_control_cfg.get('position_proportional_gain', 0.1)}
        </position_proportional_gain>
        <ros>
          <namespace>${namespace}</namespace>
          <!--
          <remapping>${from}:=${to}</remapping>
          -->
        </ros>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
