<?xml version="1.0"?>
<!--
Convention for parameter types:
R means real number (float or double)
I means integer
S means string
B means boolean

Note: In some expressions used in <xacro:if> tags, the symbol '&lt;' appears instead of '<'.
      This is because the character '<' is reserved in XML files. Therefore, to use it inside an attribute value, it
      must be escaped as '&lt;'.
-->

<robot name="visual_collision" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">

  <xacro:include filename="$(find robotics_description)/urdf/common/set_basic_geometry_macro.xacro"/>

  <!--
  Macro for visual element with box shape.
  mesh (S): mesh filename. If mesh is empty string, then a box shape is used with the provided size.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  size (S): In case mesh is not used, it is used to define a box shape.
      size (S) = 'sx (R) sy (R) sz (R)'
  shape_origin (S): Origin of the box shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  color (S): '<color_name> (S) r (R) g (R) b (R) a (R)'. If empty, and the mesh is used, and the mesh has color,
               then the mesh color is displayed. If empty, and a mesh with no color is used, or a basic geometry is
               used, then no color is set. If not empty, then the color is used either for the mesh or for the basic
               geometry.
  -->
  <xacro:macro name="visual_box"
               params="mesh:=''
                       scale:='1.0 1.0 1.0'
                       mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       size:='0.0 0.0 0.0'
                       shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       color:=''">
    <xacro:visual_element mesh="${mesh}"
                          scale="${scale}"
                          mesh_origin="${mesh_origin}"
                          shape="b ${size}"
                          shape_origin="${shape_origin}"
                          color="${color}"/>
  </xacro:macro>

  <!--
  Macro for collision element with box shape.
  mesh (S): mesh filename. If mesh is empty string, then a box shape is used with the provided size.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  size (S): In case mesh is not used, it is used to define a box shape.
      size (S) = 'sx (R) sy (R) sz (R)'
  shape_origin (S): Origin of the box shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  -->
  <xacro:macro name="collision_box"
               params="mesh:=''
                       scale:='1.0 1.0 1.0'
                       mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       size:='0.0 0.0 0.0'
                       shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'">
    <xacro:collision_element mesh="${mesh}"
                             scale="${scale}"
                             mesh_origin="${mesh_origin}"
                             shape="b ${size}"
                             shape_origin="${shape_origin}"/>
  </xacro:macro>

  <!--
  Macro for a visual element with cylinder shape.
  mesh (S): mesh filename. If mesh is empty string, then a cylinder shape is used with the provided radius
            and length.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  radius (R): radius of the cylinder, if mesh is not used.
  length (R): length of the cylinder, if mesh is not used.
  shape_origin (S): Origin of the cylinder shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  color (S): '<color_name> (S) r (R) g (R) b (R) a (R)'. If empty, and the mesh is used, and the mesh has color,
               then the mesh color is displayed. If empty, and a mesh with no color is used, or a basic geometry is
               used, then no color is set. If not empty, then the color is used either for the mesh or for the basic
               geometry.
  -->
  <xacro:macro name="visual_cylinder"
              params="mesh:=''
                      scale:='1.0 1.0 1.0'
                      mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                      radius:='0.0'
                      length:='0.0'
                      shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                      color:=''">
    <xacro:visual_element mesh="${mesh}"
                          scale="${scale}"
                          mesh_origin="${mesh_origin}"
                          shape="c ${radius} ${length}"
                          shape_origin="${shape_origin}"
                          color="${color}"/>
  </xacro:macro>

  <!--
  Macro for collision element with cylinder shape.
  mesh (S): mesh filename. If mesh is empty string, then a cylinder shape is used with the provided radius
            and length.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  radius (R): radius of the cylinder, if mesh is not used.
  length (R): length of the cylinder, if mesh is not used.
  shape_origin (S): Origin of the cylinder shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  -->
  <xacro:macro name="collision_cylinder"
               params="mesh:=''
                       scale:='1.0 1.0 1.0'
                       mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       radius:='0.0'
                       length:='0.0'
                       shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'">
    <xacro:collision_element mesh="${mesh}"
                             scale="${scale}"
                             mesh_origin="${mesh_origin}"
                             shape="c ${radius} ${length}"
                             shape_origin="${shape_origin}"/>
  </xacro:macro>

  <!--
  Macro for visual element with sphere shape.
  mesh (S): mesh filenane. If mesh is empty string, then a sphere shape is used with the provided radius.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  radius (R): radius of the sphere, if mesh is not used.
  shape_origin (S): Origin of the sphere shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  color (S): '<color_name> (S) r (R) g (R) b (R) a (R)'. If empty, and the mesh is used, and the mesh has color,
               then the mesh color is displayed. If empty, and a mesh with no color is used, or a basic geometry is
               used, then no color is set. If not empty, then the color is used either for the mesh or for the basic
               geometry.
  -->
  <xacro:macro name="visual_sphere"
               params="mesh:=''
                       scale:='1.0 1.0 1.0'
                       mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       radius:='0.0'
                       shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       color:=''">
    <xacro:visual_element mesh="${mesh}"
                          scale="${scale}"
                          mesh_origin="${mesh_origin}"
                          shape="s ${radius}"
                          shape_origin="${shape_origin}"
                          color="${color}"/>
  </xacro:macro>

  <!--
  Macro for collision element with sphere shape.
  mesh (S): mesh filenane. If mesh is empty string, then a sphere shape is used with the provided radius.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  radius (R): radius of the sphere, if mesh is not used.
  shape_origin (S): Origin of the sphere shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  -->
  <xacro:macro name="collision_sphere"
               params="mesh:=''
                       scale:='1.0 1.0 1.0'
                       mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       radius:='0.0'
                       shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'">
    <xacro:collision_element mesh="${mesh}"
                             scale="${scale}"
                             mesh_origin="${mesh_origin}"
                             shape="s ${radius}"
                             shape_origin="${shape_origin}"/>
  </xacro:macro>

  <!--
  Macro for internal use to define visual elements.
  mesh (S): mesh filename. If mesh is empty string, then a basic geometry is used.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  shape (S): Shape to use if no mesh is provided.
      shape (S) ='b  sx (R)      sy (R)       sz (R)' -> box, size_x, size_y, size_z
      shape (S) ='c  radius (R)  length (R)'          -> cylinder
      shape (S) ='s  radius (R)'                      -> sphere
  shape_origin (S): Origin of the shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  color (S): '<color_name> (S) r (R) g (R) b (R) a (R)'. If empty, and the mesh is used, and the mesh has color,
             then the mesh color is displayed. If empty, and a mesh with no color is used, or a basic geometry is used,
             then no color is set. If not empty, then the color is used either for the mesh or for the basic geometry.
  -->
  <xacro:macro name="visual_element"
              params="mesh:=''
                      scale:='1.0 1.0 1.0'
                      mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                      shape:='b 0.0 0.0 0.0'
                      shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                      color:=''">
    <xacro:property name="c" value="${color.split()}"/>

    <visual>
      <xacro:vc_common mesh="${mesh}"
                       scale="${scale}"
                       mesh_origin="${mesh_origin}"
                       shape="${shape}"
                       shape_origin="${shape_origin}"/>
      <!--
      If color is empty, then no color is set explicitely.
      If color is not empty, then it must be in the form 'color_name r g b a' (length is 5), otherwise an error is
      raised.
      -->
      <xacro:if value="${len(c) == 5}">
        <material name="${c[0]}">
          <color rgba="${c[1]} ${c[2]} ${c[3]} ${c[4]}"/>
        </material>
      </xacro:if>

      <xacro:if value="${color != '' and len(c) != 5}">
        ${xacro.fatal("v_element: color must be 'color_name r g b a'")}
      </xacro:if>
    </visual>
  </xacro:macro>

  <!--
  Macro for internal use to define collision elements.
  mesh (S): msh filename. If mesh is empty string, then a basic geometry is used.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  shape (S): Shape to use if no mesh is provided.
      shape (S) ='b  sx (R)      sy (R)       sz (R)' -> box, size_x, size_y, size_z
      shape (S) ='c  radius (R)  length (R)'          -> cylinder, radius, length
      shape (S) ='s  radius (R)'                      -> sphere, radius
  shape_origin (S): Origin of the shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  -->
  <xacro:macro name="collision_element"
               params="mesh:=''
                       scale:='1.0 1.0 1.0'
                       mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                       shape:='b 0.0 0.0 0.0'
                       shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'">
    <collision>
      <xacro:vc_common mesh="${mesh}"
                       scale="${scale}"
                       mesh_origin="${mesh_origin}"
                       shape="${shape}"
                       shape_origin="${shape_origin}"/>
    </collision>
  </xacro:macro>

  <!--
  Macro for internal use to set the common elements of the visual and collision tags.
  mesh (S): mesh filename. If mesh is empty string, then a basic geometry is used.
  scale (S): Scale of the mesh, if mesh is used.
      scale (S) = 'scale_x (R) scale_y (R) scale_z (R)'.
  mesh_origin (S): Origin of the mesh, if mesh is used.
      mesh_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  shape (S): Shape to use if no mesh is provided.
      shape (S) ='b  sx (R)      sy (R)       sz (R)' -> box, size_x, size_y, size_z
      shape (S) ='c  radius (R)  length (R)'          -> cylinder, radius, length
      shape (S) ='s  radius (R)'                      -> sphere, radius
  shape_origin: (S): Origin of the shape, if mesh is not used.
      shape_origin (S) = 'x (R) y (R) z (R) roll (R) pitch (R) yaw (R)'
  -->
  <xacro:macro name="vc_common"
              params="mesh:=''
                      scale:='1.0 1.0 1.0'
                      mesh_origin:='0.0 0.0 0.0 0.0 0.0 0.0'
                      shape:='b 0.0 0.0 0.0'
                      shape_origin:='0.0 0.0 0.0 0.0 0.0 0.0'">

    <xacro:if value="${mesh != ''}">
      <xacro:property name="sc_seq" value="${scale.split()}"/>
      <xacro:property name="mo_seq" value="${mesh_origin.split()}"/>

      <xacro:if value="${len(sc_seq) != 3}">
        ${xacro.fatal("vc_common: scale must be 'scale_x scale_y scale_z'")}
      </xacro:if>

      <xacro:if value="${len(mo_seq) != 6}">
        ${xacro.fatal("vc_common: mesh origin must be 'x y z roll pitch yaw'")}
      </xacro:if>

      <geometry>
        <mesh filename="package://${mesh}" scale="${scale}"/>
      </geometry>
      <origin rpy="${mo_seq[3]} ${mo_seq[4]} ${mo_seq[5]}" xyz="${mo_seq[0]} ${mo_seq[1]} ${mo_seq[2]}"/>
    </xacro:if>

    <xacro:if value="${mesh == ''}">
      <xacro:property name="so_seq" value="${shape_origin.split()}"/>

      <xacro:if value="${len(so_seq) != 6}">
        ${xacro.fatal("vc_common: shape origin must be 'x y z roll pitch yaw'")}
      </xacro:if>

      <xacro:set_basic_geometry shape="${shape}"/>
      <origin rpy="${so_seq[3]} ${so_seq[4]} ${so_seq[5]}" xyz="${so_seq[0]} ${so_seq[1]} ${so_seq[2]}"/>
    </xacro:if>
  </xacro:macro>

  <!--
  Macro for internal use to set basic geometry
  shape (S) ='b  sx (R)      sy (R)       sz (R)' -> box, size_x, size_y, size_z
  shape (S) ='c  radius (R)  length (R)'          -> cylinder, radius, length
  shape (S) ='s  radius (R)'                      -> sphere, radius
  -->
  <xacro:macro name="set_basic_geometry" params="shape:='b 0.0 0.0 0.0'">
    <xacro:property name="sh_seq"  value="${shape.split()}"/>

    <xacro:if value="${len(sh_seq) &lt; 2}">
      ${xacro.fatal("set_basic_geometry: shape parameter is too short")}
    </xacro:if>

    <xacro:property name="shape_type" value="${sh_seq[0]}"/>

    <xacro:if value="${shape_type not in ('b', 'c', 's')}">
      ${xacro.fatal("The field 'shape' must be one of: 'b' (box), 'c' (cylinder), 's' (sphere)")}
    </xacro:if>

    <xacro:if value="${shape_type == 'b'}">
      <xacro:if value="${len(sh_seq) &lt; 4}">
        ${xacro.fatal("set_basic_geometry: invalid box shape. Expected: 'b sx sy sz'")}
      </xacro:if>

      <geometry>
        <box size="${sh_seq[1]} ${sh_seq[2]} ${sh_seq[3]}"/>
      </geometry>
    </xacro:if>

    <xacro:if value="${shape_type == 'c'}">
      <xacro:if value="${len(sh_seq) &lt; 3}">
        ${xacro.fatal("set_basic_geometry: invalid cylinder shape. Expected: 'c radius length'")}
      </xacro:if>

      <geometry>
        <cylinder radius="${sh_seq[1]}" length="${sh_seq[2]}"/>
      </geometry>
    </xacro:if>

    <xacro:if value="${shape_type == 's'}">
      <geometry>
        <sphere radius="${sh_seq[1]}"/>
      </geometry>
    </xacro:if>
  </xacro:macro>
</robot>
