<?xml version="1.0"?>
<robot name="plugin_camera_thermal" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <!--
  This macro implements a thermal camera sensor for Gazebo (type='thermal_camera' or 'thermal').
  It behaves like a camera that renders a thermal (temperature) image, and it requires the ThermalSensor system plugin
  to map scene temperatures into pixel values.

  The base <topic> you provide is used for publishing the thermal image stream, and ${info_topic} is used for the
  corresponding camera_info.
  The same thermal image is rendered in the Gazebo GUI when <visualize> is enabled.

  Thermal parameters:
  The shorthand parameter thermal_data = 'min_temp max_temp resolution' is expanded into:
    <min_temp>...</min_temp>
    <max_temp>...</max_temp>
    <resolution>...</resolution>
  inside the gz-sim-thermal-sensor-system plugin.

  min_temp / max_temp: temperatures in Kelvin that define the valid output range.
  resolution: controls how temperatures are quantized into pixel values (i.e., the Kelvin-per-step mapping for the
  thermal image). Smaller values give finer thermal detail.

  Additionally, in a thermal camera the <image><format> field does NOT change the physical thermal mapping produced by
  the ThermalSensor plugin. The temperature-to-pixel conversion is governed by min_temp, max_temp, and resolution, and
  remains the same regardless of the chosen visual format.

  So what does <image><format> do in a thermal camera?
  It only configures the pixel encoding of the published thermal image and its GUI rendering (width, height, and
  format). In other words, it defines how the already computed thermal values are stored and visualized.
  Changing <image><format> does not change the underlying thermal data, only how it is encoded for display / transport.

  What format makes sense to use, then?
  The recommended formats are L16 (default) or L8, because thermal images are naturally single-channel intensity maps
  with quantized temperature values. L16 provides more range/precision than L8.

  Float formats (R_FLOAT16 / R_FLOAT32) represent single-channel floating-point scalar fields; however, the thermal
  sensor output is already defined and quantized by the thermal plugin, so using float formats here is generally not
  meaningful. They are therefore discouraged unless you have a very specific scalar-imaging use case.

  This macro can be used from sdformat 1.9 (possible even earlier) onwards: i.e, it can be used from Gazebo Fortress
  (officially bonded with ROS2 Humble) and later versions of Gazebo.

  The sdformat specifications for a camera sensor found at:
  http://sdformat.org/spec?ver=1.11&elem=sensor#sensor_camera (for version 1.11)

  sdformat specification 1.11 is parsed by the library libsdformat14, available since Gazebo Harmonic.

  Convention for parameter types:
  R means real number (float or double)
  I means integer
  S means string
  B means boolean

  Parameter formats:

  name (S): A unique name for the camera.

  reference_frame(S): Name of the frame where the camera plugin is attached.

  optical_frame (S): Name of the optical frame of the camera. It will be used in the camera_info message header.

  use_gravity (B): If true, the camera will be affected by gravity.

  always_on (B): If True the sensor will always be updated according to the update rate.

  visualize (B): If True the sensor is visualized in the GUI.

  enable_metrics (B): If True, the sensor will publish performance metrics.

  update_rate (R): The frequency at which the sensor data is generated. If left unspecified, the sensor will generate
                   data every cycle.

  triggered (B): If true, the camera is triggered by a topic.

  visible_mask (I): Visibility mask of a camera. When (camera's visibility_mask & visual's visibility_flags) evaluates
                    to non-zero, the visual will be visible to the camera.

  image (S): The image size in pixels and format
      image = 'width (I) height (I) format (S) anti_aliasing (I)'
      width (I): Width of the image in pixels.
      height (I): Height of the image in pixels.
      format (S) = L8 | L16 | R8G8B8 | B8G8R8 | BAYER_RGGB8 | BAYER_BGGR8 | BAYER_GBRG8  | BAYER_GRBG8 |
                   | R_FLOAT16 | R_FLOAT32 (these last two formats are hardly used)
          The <format> field describes the format used for the data published in the color image message ${topic}/image.
          It is also the format Gazebo uses to render the color image in the GUI when <visualize> is enabled in the
          sensor.
          If you choose R8G8B8 you publish an RGB image, if you choose L8 you publish a monochrome image, etc.
          Float formats (R_FLOAT16 / R_FLOAT32) in <image><format> denote single-channel floating-point image formats,
          where each pixel stores a continuous scalar value (not RGB). Use them for HDR/physical magnitude maps (e.g.,
          intensity, radiance, scientific data); FLOAT16 is lighter, FLOAT32 more precise. Therefore, their use in
          <image><format> is probably limited for segmentation cameras, but they are supported if you have a specific
          use case.

      anti_aliasing (I): Value used for anti-aliasing.

  clip (S): The near and far clip planes. Objects closer or farther than these planes are not rendered
      clip = 'near (R) far (R)'
      near (R): Near clipping distance of the view frustum.
      far (R): Far clipping distance of the view frustum.

  save (S): Enable or disable saving of camera frames.
      save = 'enable (B) path (S)'
      enable (B): If true, saving of camera frames is enabled.
      path (S): The path name which will hold the frame data. If path name is relative, then directory is relative to
                current working directory.

  gaussian_noise (S): The properties of the noise model that should be applied to generated images.
      gaussian_noise = 'mean (R) stddev (R)'
      mean (R): Mean of the Gaussian noise.
      stddev (R): Standard deviation of the Gaussian noise.

  distortion_k_p (S): Lens distortion coefficients applied to camera images.
      distortion_k_p (S) = 'k1 (R) k2 (R) k3 (R) p1 (R) p2 (R)'

  distortion_center (S): The normalized coordinates of the distortion center or principal point.
      distortion_center (S) = 'center_x_norm (R) center_y_norm (R)'

  lens_single_elements (S): Single element lens.
      lens_single_elements (S) = 'type (S) scale_to_hfov (B) cutoff_angle_deg (R) env_texture_size (I)'
      type (S): Type of the lens mapping. Supported values are: gnomonical, stereographic, equidistant, equisolid_angle,
                orthographic, custom.
                For gnomonical (perspective) projection, it is recommended to specify a horizontal_fov <= 90°.
      scale_to_hfov (B): If true the image will be scaled to fit horizontal FOV, otherwise it will be shown according to
                         projection type parameters.
      cutoff_angle_deg (R): Everything outside of the specified angle will be hidden, 90° by default. (In degrees)
      env_texture_size (I): Resolution of the environment cube map used to draw the world.

  lens_custom_function (S): Definition of custom mapping function in a form of r=c1*f*fun(theta/c2 + c3).
                            See https://en.wikipedia.org/wiki/Fisheye_lens#Mapping_function
      lens_custom_function (S) = 'c1 (R) c2 (R) c3 (R) f (R) fun (S)'
      c1 (R): Linear scaling constant.
      c2 (R): Angle scaling constant.
      c3 (R): Angle offset constant.
      f (R): Focal length of the optical system. Note: It's not a focal length of the lens in a common sense!
             This value is ignored if 'scale_to_fov' is set to true
      fun (S): Mapping function. Supported values are: 'tan', 'sin' and 'id'.

  lens_intrinsics (S): Camera intrinsic parameters for setting a custom perspective projection matrix (cannot be used
                       with WideAngleCamera since this class uses image stitching from 6 different cameras for achieving
                       a wide field of view).
                       The focal lengths can be computed using
                       focal_length_in_pixels = (img_width_pixels * 0.5) / tan(field_of_view_in_degrees * 0.5 * PI/180)
      lens_intrinsics (S) = 'fx (R) fy (R) cx (R) cy (R)'
      fx (R): X focal length (in pixels, overrides horizontal_fov). fx = fy = width / ( 2 * tan (hfov / 2 ) )
      fy (R): Y focal length (in pixels, overrides horizontal_fov).
      cx (R): X principal point (in pixels). cx = ( width - 1 ) / 2
      cy (R): Y principal point (in pixels). cy = ( height - 1 ) / 2

  lens_xy_skew (R): XY axis skew parameter used in the camera intrinsic matrix.

  lens_projection (S): Camera projection matrix P for overriding camera intrinsic matrix K values so that users can
                       configure P independently of K. This is useful when working with stereo cameras where P may be
                       different from K due to the transform between the two cameras.
      lens_projection (S) = 'p_fx p_fy p_cx p_cy tx ty'
      p_fx (R): X focal length for projection matrix(in pixels, overrides fx)
      p_fy (R): Y focal length for projection matrix(in pixels, overrides fy)
      p_cx (R): X principal point for projection matrix(in pixels, overrides cx)
      p_cy (R): Y principal point for projection matrix(in pixels, overrides cy)
      tx (R): X translation for projection matrix (in pixels)
      ty (R): Y translation for projection matrix (in pixels)

  thermal_data (S): Thermal camera parameters.
      thermal_data (S) = 'min_temp (R) max_temp (R) resolution (R)'
      min_temp (R): Minimum temperature (in Kelvin) that the thermal camera can sense.
      max_temp (R): Maximum temperature (in Kelvin) that the thermal camera can sense.
      resolution (R): Temperature resolution (in Kelvin per step) of the thermal camera.

  topic (S): Name of the topic on which data is published. This is necessary for visualization.

  info_topic (aka camera_info_topic) (S): Name of the camera info topic.

  trigger_topic (S): Name of the topic that will trigger the camera if enabled.
  -->
  <xacro:macro name="plugin_camera_thermal"
               params="name
                       reference_frame
                       optical_frame
                       use_gravity:=True
                       always_on:=True
                       visualize:=False
                       enable_metrics:=False
                       update_rate:=30.0
                       triggered:=False
                       visible_mask:=4294967295
                       image:='320 240 L16 4'
                       clip:='0.1 100.0'
                       save:='False /tmp'
                       gaussian_noise:='0.0 0.0'
                       distortion_k_p:='0.0 0.0 0.0 0.0 0.0'
                       distortion_center:='0.5 0.5'
                       lens_single_elements:='stereographic true 90.0 256'
                       lens_custom_function:='1.0 1.0 0.0 1.0 tan'
                       lens_intrinsics:='277.0 277.0 160.0 120.0'
                       lens_projection:='277.0 277.0 160.0 120.0 0.0 0.0'
                       lens_xy_skew:=0.0
                       thermal_data:='253.15 673.15 3.0'
                       topic
                       info_topic
                       trigger_topic:=''" >

    <xacro:include filename="$(find robotics_description)/urdf/sensors/cameras/generic_macros/plugin_camera_common_macro.xacro"/>

    <xacro:property name='thermal_sequence' value='${thermal_data.split()}'/>

    <xacro:if value='${len(thermal_sequence) != 3}'>
      ${xacro.fatal('thermal_data parameter must contain three space-separated values: min_temp max_temp resolution')}
    </xacro:if>

    <xacro:property name='thermal_min_temp' value='${thermal_sequence[0]}'/>
    <xacro:property name='thermal_max_temp' value='${thermal_sequence[1]}'/>
    <xacro:property name='thermal_resolution' value='${thermal_sequence[2]}'/>

    <gazebo reference="${reference_frame}">
      <gravity>${use_gravity}</gravity>
      <sensor type="thermal_camera" name="${name}_gz_sensor">
        <always_on>${always_on}</always_on>
        <visualize>${visualize}</visualize>
        <enable_metrics>${enable_metrics}</enable_metrics>
        <update_rate>${update_rate}</update_rate>
        <topic>${topic}</topic>

        <!-- Thermal sensor system plugin (Kelvin range + mapping resolution) -->
        <plugin filename="gz-sim-thermal-sensor-system" name="gz::sim::systems::ThermalSensor">
          <min_temp>${thermal_min_temp}</min_temp>
          <max_temp>${thermal_max_temp}</max_temp>
          <resolution>${thermal_resolution}</resolution>
        </plugin>

        <!--
        If the label <gz_frame_id> is not set, Gazebo will use as the 'frame_id' for the message the string
        '<model>::<parent_frame>::${reference_frame}', which is probably what you do not want.
        -->
        <gz_frame_id>${optical_frame}</gz_frame_id>

        <camera name="${name}">
          <xacro:plugin_camera_common name="${name}"
                                      optical_frame="${optical_frame}"
                                      triggered="${triggered}"
                                      visible_mask="${visible_mask}"
                                      image="${image}"
                                      clip="${clip}"
                                      save="${save}"
                                      gaussian_noise="${gaussian_noise}"
                                      distortion_k_p="${distortion_k_p}"
                                      distortion_center="${distortion_center}"
                                      lens_single_elements="${lens_single_elements}"
                                      lens_custom_function="${lens_custom_function}"
                                      lens_intrinsics="${lens_intrinsics}"
                                      lens_projection="${lens_projection}"
                                      lens_xy_skew="${lens_xy_skew}"
                                      info_topic="${info_topic}"
                                      trigger_topic="${trigger_topic}" />
        </camera>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
