<?xml version="1.0"?>
<robot name="set_mecanum_r_base_props" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="set_mecanum_r_base_props" params="desc_cfg prop_prefix">

    <xacro:property name="body_cfg"    value="${desc_cfg['body']}"/>
    <xacro:property name="m_wheel_cfg" value="${desc_cfg['mecanum_wheel']}"/>

    <xacro:property name="${prop_prefix}_body_mass"   value="${body_cfg['mass']}"      scope="parent"/>
    <xacro:property name="${prop_prefix}_body_size_x" value="${body_cfg['size']['x']}" scope="parent"/>
    <xacro:property name="${prop_prefix}_body_size_y" value="${body_cfg['size']['y']}" scope="parent"/>
    <xacro:property name="${prop_prefix}_body_size_z" value="${body_cfg['size']['z']}" scope="parent"/>

    <xacro:property name="${prop_prefix}_body_size"
                    value="${body_cfg['size']['x']} ${body_cfg['size']['y']} ${body_cfg['size']['z']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_body_wheelbase"
                    value="${body_cfg['wheelbase']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_body_track_width"
                    value="${body_cfg['track_width']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_body_ground_clearance"
                    value="${body_cfg['ground_clearance']}"
                    scope="parent"/>

    <!--
    The property 'mesh' is local to this macro, so no need to use scope="parent". This property is used to set
    another property in the parent scope, which is '${prop_prefix}_mesh'.
    -->
    <!--
    The property 'mesh' is local to this macro, so no need to use scope="parent". This property is used to set
    another property in the parent scope, which is '${prop_prefix}_mesh'.
    -->
    <xacro:property name="mesh_dir" value="$(find eut_robotics_description)/meshes"/>

    <xacro:property name="${prop_prefix}_body_mesh_visual"
                    value="${mesh_dir + '/' + body_cfg['mesh_visual'] if body_cfg['mesh_visual'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_body_mesh_visual_has_color"
                    value="${body_cfg['mesh_visual_has_color']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_body_mesh_collision"
                    value="${mesh_dir + '/' + body_cfg['mesh_collision'] if body_cfg['mesh_collision'] else ''}"
                    scope="parent"/>
      <!--
      If you can accommodate all the values that constitute the string in a single line in the 'value' field, you can do
      it directly as:
      <xacro:property name="${prop_prefix}_body_mass"
                      value="${body_cfg['mass']}"
                      scope="parent"/>
      But if you need to split the line that you assign to the 'value' field, because the line is too long to fit in a
      single with a resonable length, then you have to use the 'join' method as done below to avoid sevaral whitespaces
      in the resulting string separating the values when the macro is expanded.
      -->

    <xacro:property name="${prop_prefix}_body_scale"
                    value="${' '.join([str(body_cfg['scale']['x']),
                                       str(body_cfg['scale']['y']),
                                       str(body_cfg['scale']['z'])])
                            if body_cfg['scale'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_body_color"
                    value="${' '.join([str(body_cfg['color']['r']),
                                       str(body_cfg['color']['g']),
                                       str(body_cfg['color']['b']),
                                       str(body_cfg['color']['a'])])}"
                    scope="parent"/>

    <xacro:property name="m_wheel_size" value="${m_wheel_cfg['size']}"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_mass" value="${m_wheel_cfg['mass']}" scope="parent"/>

    <!--
    A wheel is a cylinder with its axis along the y-axis, which means that:
    size = { "x": 2*radius, "y": thickness, "z": 2*radius }
    radius = 0.5 * size_x
    thickness = size_y
    -->

    <xacro:property name="${prop_prefix}_mecanum_wheel_radius"
                    value="${0.5 * m_wheel_cfg['size']['x']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_thickness"
                    value="${m_wheel_cfg['size']['y']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_size"
                    value="${m_wheel_cfg['size']['x']} ${m_wheel_cfg['size']['y']} ${m_wheel_cfg['size']['z']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_velocity_limit"
                    value="${m_wheel_cfg['velocity_limit']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_effort_limit"
                    value="${m_wheel_cfg['effort_limit']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_mu_forward"
                    value="${m_wheel_cfg['mu_forward']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_mu_lateral"
                    value="${m_wheel_cfg['mu_lateral']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_slip_forward"
                    value="${m_wheel_cfg['slip_forward']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_slip_lateral"
                    value="${m_wheel_cfg['slip_lateral']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_mesh_visual_left"
                    value="${mesh_dir + '/' + m_wheel_cfg['mesh_visual'].replace('[left_or_right]', 'left')
                             if m_wheel_cfg['mesh_visual'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_mesh_visual_right"
                    value="${mesh_dir + '/' + m_wheel_cfg['mesh_visual'].replace('[left_or_right]', 'right')
                             if m_wheel_cfg['mesh_visual'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_mesh_visual_has_color"
                    value="${m_wheel_cfg['mesh_visual_has_color']}"
                    scope="parent"/>

    <!--
    mecanum wheels always use a cylinder with axis along the y-axis as a collision shape, to avoid issues when
    simulating the rotation of the wheel in Gazebo.
    -->

    <xacro:property name="${prop_prefix}_mecanum_wheel_scale"
                    value="${' '.join([str(m_wheel_cfg['scale']['x']),
                                     str(m_wheel_cfg['scale']['y']),
                                     str(m_wheel_cfg['scale']['z'])])
                            if m_wheel_cfg['scale'] else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mecanum_wheel_color"
                    value="${' '.join([str(m_wheel_cfg['color']['r']),
                                       str(m_wheel_cfg['color']['g']),
                                       str(m_wheel_cfg['color']['b']),
                                       str(m_wheel_cfg['color']['a'])])}"
                    scope="parent"/>

  </xacro:macro>
</robot>
