<?xml version="1.0"?>
<robot name="set_rectangular_body_props" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="set_rectangular_body_props" params="desc_cfg prop_prefix">

    <xacro:property name="${prop_prefix}_mass"        value="${desc_cfg['mass']}"     scope="parent"/>

    <xacro:property name="_base_body_size"                 value="${desc_cfg['size']}"/>
    <xacro:property name="${prop_prefix}_size_x"           value="${_base_body_size['x']}"         scope="parent"/>
    <xacro:property name="${prop_prefix}_size_y"           value="${_base_body_size['y']}"         scope="parent"/>
    <xacro:property name="${prop_prefix}_size_z"           value="${_base_body_size['z']}"         scope="parent"/>
    <xacro:property name="${prop_prefix}_wheelbase"        value="${desc_cfg['wheelbase']}"        scope="parent"/>
    <xacro:property name="${prop_prefix}_track_width"      value="${desc_cfg['track_width']}"      scope="parent"/>
    <xacro:property name="${prop_prefix}_ground_clearance" value="${desc_cfg['ground_clearance']}" scope="parent"/>

    <xacro:property name="mesh_dir"                  value="$(find eut_robotics_description)/meshes"/>
    <xacro:property name="_base_body_mesh_visual"    value="${desc_cfg['mesh_visual']}"/>
    <xacro:property name="_base_body_mesh_collision" value="${desc_cfg['mesh_collision']}"/>

    <xacro:property name="${prop_prefix}_mesh_visual"
                    value="${mesh_dir + '/' + _base_body_mesh_visual if _base_body_mesh_visual else ''}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mesh_visual_has_color"
                    value="${desc_cfg['mesh_visual_has_color']}"
                    scope="parent"/>

    <xacro:property name="_base_body_color" value="${desc_cfg['color']}"/>

    <xacro:property name="${prop_prefix}_color"
                    value="${_base_body_color['r']} ${_base_body_color['g']} ${_base_body_color['b']} ${_base_body_color['a']}"
                    scope="parent"/>

    <xacro:property name="${prop_prefix}_mesh_collision"
                    value="${mesh_dir + '/' + _base_body_mesh_collision if _base_body_mesh_collision else ''}"
                    scope="parent"/>

    <xacro:property name="_base_body_scale" value="${desc_cfg['scale']}"/>

    <xacro:property name="${prop_prefix}_scale"
                    value="${_base_body_scale['x']} ${_base_body_scale['y']} ${_base_body_scale['z']}"
                    scope="parent"/>
  </xacro:macro>
</robot>
